[2020-12-01 19:39] #523 closed

[2020-12-01 19:53] rpstester commented on #523
Is there a better place I can leave these suggestions, perhaps directly to engineering?

[2020-12-04 16:46] eschrader commented on #216
FYI the queries are kinda weird, but this complex one works for example:
`Get-AzureADDevice -all $true -Filter ("DeviceTrustType eq 'ServerAd' and DeviceOSType eq 'Windows'") |ft -prop DisplayName,DeviceTrustType,IsManaged,DeviceOSType`
Normally I do ${(condition 1) -and (condition 2)} on my filters (like for GET-ADUser)
`Get-ADUser -Filter {(UserPrincipalName -like 'n*') -OR (UserPrincipalName -l

[2020-12-07 00:39] PsychoData opened #533 "MailNickname and UserPrincipalName seem required, per GraphAPI. Add Federated Example of user creation"
Migrated from incorrectly created PR https://github.com/Azure/azure-docs-powershell-azuread/pull/239  since I couldn't find any mention of issue created.

It seems like MailNickName and UserPrincipalName are required?
Without the code it's hard to know for sure, but whatever API the Cmdlet is using seems to require the MailNickname and UserPrincipalName parameters, and the examples use them, even

[2020-12-07 01:14] PsychoData opened #534 "ReadMe Needs massive overhaul"
One section mentions "Read our [Contributing guidance](CONTRIBUTING.md) to find out more" ([see here](https://github.com/Azure/azure-docs-powershell-azuread/blame/master/README.md#L7)) but the link is dead

In the [Prerequisites section](https://github.com/Azure/azure-docs-powershell-azuread#download) it goes on to tell you to download the "[Docs Authoring Pack](https://marketplace.visualstudio.co

[2020-12-07 08:24] leehowarth opened #535 "Remove-AzureADUserAppRoleAssignment lacks example code"
The docs for  Remove-AzureADUserAppRoleAssignment currently lacks any concrete examples and currently has a placeholder for example code to be inserted.

https://docs.microsoft.com/en-us/powershell/module/azuread/remove-azureaduserapproleassignment?view=azureadps-2.0

[2020-12-07 08:26] leehowarth commented on #535
Please note a PR was created for this issue but I was asked to open an issue instead to allow the correct process to be followed.

https://github.com/Azure/azure-docs-powershell-azuread/pull/506

[2020-12-08 01:58] calvinlui opened #537 "Add EmailAsAlternateId to Staged Rollout options"
Opening a new issue as instructed in #489.

Staged Rollout support for EmailAsAlternateId was added in [AzureADPreview 2.0.2.117](https://www.powershellgallery.com/packages/AzureADPreview/2.0.2.117).

[2020-12-09 05:41] SeanXuMSFT opened #539 "incorrect sample at https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0/AzureAD/Get-AzureADApplicationPasswordCredential.md"
the link https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0/AzureAD/Get-AzureADApplicationPasswordCredential.md is for get-azureadapplicationpasswordcredential cmdlet, but the sample in the documetn is with New-AzureADApplicationPasswordCredential, which cause confusion for customer

[2020-12-09 14:55] billmath commented on #534
@PsychoData

I totally agree. I have created a work item for this but it probably will not be addressed until after the holidays.  I have some feature release work that is due prior to a vacation and this repo could use a dedicated engineer.  Unfortunately I have other areas I also work on and I don't see that changing anytime soon.  Anyway, our first goal is to streamline the process so that doc

[2020-12-09 14:55] #534 closed

[2020-12-09 15:00] billmath commented on #533
Hi @PsychoData

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update

[2020-12-09 15:00] #533 closed

[2020-12-09 15:07] billmath commented on #535
Hi @leehowarth

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update

[2020-12-09 15:07] #535 closed

[2020-12-09 15:09] billmath commented on #537
Hi @calvinlui

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update I

[2020-12-09 15:09] #537 closed

[2020-12-09 15:11] billmath commented on #539
Hi @SeanXuMSFT

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update

[2020-12-09 15:11] #539 closed

[2020-12-15 15:55] wiseleaf23 opened #542 "Filter parameter for Get-AzureADUser cmdlet does not accept all OData operators"
The filter parameter for the Get-AzureADUser cmdlet does not handle all OData operators as specified at https://www.odata.org/documentation/odata-version-3-0/odata-version-3-0-core-protocol/#queryingcollections. For example the following command works:
`Get-AzureADUser -Filter "startswith(JobTitle,'Sales')"`
And the following does not:
`Get-AzureADUser -Filter "endswith(JobTitle,'Sales')"`

I test

[2021-01-02 14:16] DEberhardt opened #552 "Command missing: New-AzureAdContact, Set-AzureAdContact"
Hello,

the following commands are missing:
* New-AzureAdContact (AzureAd)
* Set-AzureAdAccount (AzureAd)
* New-Contact (ExchangeOnlineManagement)
* Remove-Contact (ExchangeOnlineManagement)

[code]

If someone could tell me how I can create Contact objects (for use in Teams!) in AzureAd or in a specific Global Address List, I would appreciate it. I need to cover the full lifecycle: New/Get/Set/Re

[2021-01-02 14:17] DEberhardt commented on #552
Cross-promoted in **office-docs-powershell** as well: https://github.com/MicrosoftDocs/office-docs-powershell/issues/7016

[2021-01-06 16:40] vishnuprakash9845 opened #555 "Its not an issue but need help in sending outlook mail using powershell script"
I am an automation engineer

I have have automated few test cases and getting the test results. This test results I wanted to forward to team using outlook using powershell. I tried many ways to do it, but not working.

I want an powershell script to send outlook mail to people who I configure.

Can anyone please help me out in this.

[2021-01-06 17:59] nromyn opened #556 "Issue with documentation"
I was directed to open an issue instead of creating a PR here:
https://github.com/Azure/azure-docs-powershell-azuread/pull/240

Non-rendering characters are present in the help file, and should be cleaned up.

[2021-01-11 15:01] PlasmatikSteak commented on #251
I seem to have this problem with version 2.0.2.128.
Uninstalled and reinstalled to no avail.
Anybody who can guide me in the right direction?

[2021-01-13 04:13] baoguoca opened #557 "New-AzureADApplicationKeyCredential Example 2: Use a certificate to add an application key credential"
`New-AzureADApplicationKeyCredential -ObjectId $keyid -CustomKeyIdentifier $base64Thumbprint -Type AsymmetricX509Cert -Usage Verify -Value $base64Value -StartDate $cer.GetEffectiveDateString() -EndDate $cer.GetEx........................`

The `$keyid `as `-ObjectId` is not correct here since  `$keyid ` is a random guid.
If we pass `$keyid` here, we will get  _**Request_ResourceNotFound**_.

Possib

[2021-01-17 01:21] midway500 opened #562 "Unable to create new app registration with SignInAudience"
I am trying to use the **New-AzureADApplication** command to register a new application in my B2C directory and from the documentation ([New-AzureADApplication](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplication?view=azureadps-2.0)) it appears that I can pass in a value to the *-SignInAudience* parameter but I've got an error saying that the parameter is read only.

[2021-01-18 14:58] PeteMitch99 commented on #155
+1 for this

[2021-01-18 15:19] PeteMitch99 commented on #155
This is very strange and seems to also have effected the get-aduser command historically as well as Get-AzureADUser.

There is a lot of comments on the web about this being because get-aduser generates a terminating error and therefore erroraction has no effect. But during my testing with Get-AzureADUser i can get this run through as a non terminating error (code show below) when it shouldn't! Thi

[2021-01-25 09:05] TanmayDharmaraj commented on #373
I echo @srudin 's sentiment. Adding my 2 cents here with a different error i found. Almost certain this will not be worked up on by Microsoft considering its been closed and not fixed yet.
I am using a slightly "funky" identifier URI but can observe the same code posted by op not working when switching public client off and on.

[code]
I get the below error,

[code]

[2021-01-29 18:14] billmath commented on #562
@midway500

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update I ha

[2021-01-29 18:14] #562 closed

[2021-01-29 18:16] billmath commented on #557
@baoguoca

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update I hav

[2021-01-29 18:16] #557 closed

[2021-01-29 18:16] billmath commented on #556
@nromyn

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update I have

[2021-01-29 18:16] #556 closed

[2021-01-29 18:18] billmath commented on #555
@vishnuprakash9845

Thank you for your issue submission. Unfortunately, this appears to be a problem with the cmdlt and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stac

[2021-01-29 18:18] #555 closed

[2021-01-29 18:19] billmath commented on #552
@DEberhardt

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update I h

[2021-01-29 18:19] #552 closed

[2021-01-29 18:20] billmath commented on #542
@wiseleaf23

I have opened a work item for this so that engineering can take a look and possibly address this. Unfortunately, these examples are coded in the source and generated automatically, so any updates would get overwritten once we update this again. We need to get engineering to change this in the code. At this point, I am going to go ahead and close this issue and will post any update I h

[2021-01-29 18:20] #542 closed

[2021-01-30 12:29] Absoblogginlutely opened #564 "Spelling corrections"
As per #561 there are a couple of typos in the azureadps-2.0/AzureAD/New-AzureADUser.md file
vairable should be variable
enababled should be enabled

[2021-02-02 08:00] DEberhardt commented on #552
Thank you, Bill.
I've also created a UserVoice entry for it - albeit a more generic one pertaining to the PowerShell CmdLets for Teams:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42449707-powershell-commands-for-contact-objects-common-ar

[2021-02-08 12:28] o-l-a-v commented on #432
Just a heads up: This seems to work with latest version of ```AzureADPreview```, v2.0.2.129.

Did following:

[code]

Got 14 778 signins.

[2021-02-09 17:12] shaunsat opened #567 "$conditions.userRiskLevels"
This property doesn't seem to work:
$conditions.userRiskLevels = @('low', 'medium', 'high')

[2021-02-09 22:16] mbendana opened #568 "It's been almost a year and this hasn't been corrected."
PS C:\>Get-AzureADAuditSignInLogs -Filter "status/errorCode eq 0 -All $true"
to
PS C:\>Get-AzureADAuditSignInLogs -Filter "status/errorCode eq 0" -All $true

[2021-02-10 10:43] jeevanbalanmanoj opened #569 "Set-AzureADApplication : Error occurred while executing SetApplication Code: Request_BadRequest Message: Updates to converged applications are not allowed in this version."
I am writing a PowerShell script to add new app roles to an existing azure ad app registration. I am able to read the existing app roles in the app registration, however, when I try calling the method Set-AzureADApplication I get the below error.
**Set-AzureADApplication : Error occurred while executing SetApplication
Code: Request_BadRequest
Message: Updates to converged applications are not allo

[2021-02-12 03:20] danmyhre opened #570 "In use anymore?"
It is unclear if this is even in use anymore. Appears to be very dated.

https://github.com/Azure/azure-docs-powershell-azuread/blob/master/azureadps-1.0/MSOnline/Get-MsolCompanyAllowedDataLocation.md

Doesn't seem to relate to Multi-Geo

[2021-02-18 09:05] hahazeMSFT opened #571 "Get-AzureADMSPrivilegedResource not getting Eligible resources"
The cmdlet `Get-AzureADMSPrivilegedResource` only gives active roles and not eligible roles assigned to a user.  Document implies command should get 'All' resources for AzureResource provider

https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadmsprivilegedresource?view=azureadps-2.0-preview#example-2

Example: Below command did not get any of the subscription Iam eligible role f

[2021-02-23 08:57] jimmyth68 opened #574 "Get-AzureADAuditSignInLogs doesn't return non-interactice sign-ins (AzureADPreview 2.0.2.129)"
When using Get-AzureADAuditSignInLogs to retrieve sign-ins for a specific account, it only returns interactive sign-ins.
I compare the output with the output from the GUI in the sign-ins section for an account, where you can toggle between interactive and non-interactive sign-ins.

I have also tried to explicitly specify "IsInteractive eq $False" but when doing so the cmdlet returns an error "Inva

[2021-02-26 02:44] avishnyakov commented on #202
@billgib, how did we go with the work item which you open with the engineering on Nov 18, 2020 regarding this reported bug?

There are at lest 4 tickets on this very problem with not much clarification on fix timeline or other options. Looks that underlying API affect az cli, azure powershell and Terraform provider while Azure Portal UI allows to create secret with quite a long description.

Also

[2021-02-28 08:45] 54656452 commented on #166
@billmath or @RobdeJong: Can we get some insight on why this long-standing issue was closed without a resolution despite previous comments indicating that a future release would resolve the matter?

I am attempting to transition all workflows to AzureAD commands instead of MSOL commands, but the inability to set an AAD attribute to a null value is a significant hurdle.

[2021-03-08 11:21] Alexey-Zheltov opened #576 "Description missing for new versions of Azure AD module"
Page below have not been updated for last 6-7 months, therefore no information on updates in newer versions of Azure AD module:

https://docs.microsoft.com/en-us/powershell/azure/active-directory/ad-pshell-v2-version-history?view=azureadps-2.0

[2021-03-09 07:00] amarbut24 opened #577 "New-AzureADServicePrincipalKeyCredential creates inactive certificate"
We are writing custom claims using Powershell.
When we do the SAML Signing Certificate gets removed

This is documented here - https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#custom-signing-key

We have successfully generated a new Key Credential using Azure Key Vault + New-AzureADServicePrincipalKeyCredential.
However the certificate that is generat

[2021-03-11 14:22] inseu opened #579 "Get-AzureADMSDeletedGroup - please expose again the DeletedDateTime property"
Installing the latest versions of AzureAD and AzureADPreview https://www.powershellgallery.com/packages/AzureADPreview/2.0.2.129 for PowerShell I noticed that the DeletedDateTime property is not exposed anymore. It can be used to filter only. It was useful to know the DeletedDateTime. How can we get this data now?
Thanks.

[2021-03-12 13:03] #579 closed

[2021-03-17 09:18] E-W-B opened #580 "No example for New-AzureADServiceAppRoleAssignment"
New-AzureADServiceAppRoleAssignment doesn't list examples.

[2021-03-19 01:07] HoLengZai commented on #296
@billmath
Do you have any update on this issue after 3 months?

I might find a workaround after multiple trying, hope it will help someone
Using Azure CLI + Powershell (i guess same if you use Bash), it looks like this:
[code]

So as soon as the **"--credential-description" value is <=15 characters**, the command will run without any issue
Indeed through the Azure Portal, there is no max length fo

[2021-03-24 10:05] frazhamid opened #584 "Get-AzureADMSPrivilegedResource -ProviderId AzureResource no longer lists Subscription Object"
cmdlet Get-AzureADMSPrivilegedResource -ProviderId AzureResources no longer lists the Subscription as a type.

e.g. $Subscription = Get-AzureADMSPrivilegedResource -ProviderId AzureResources | Where-Object {$_.DisplayName -eq $SubscriptionName}

This was quite useful for me, as I would use the resource ID to configure all the role settings in line with the business requirements e.g. approvals, act

[2021-03-26 08:29] Noel-Jones commented on #296
HoLengZai, you are a genius. It never occurred to me that the description was too long. Been tearing my hair out wondering why it worked last week but refused to work this week.

[2021-03-30 14:38] felickz opened #589 "AzureAD Module disabled on June 30th, 2022 ?"
Is the AzureAD powershell module going to be no longer functional after the AzureAD Graph goes offline on June 30th, 2022?

Ref: https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-planning-checklist
` Important
Azure AD Graph API is now deprecated. We will continue to provide technical support and security updates but will no longer provide feature updates. Starting June 30th, 2022, we

[2021-03-31 11:32] Gill-Bates commented on #589
I love the cmdlet `Get-AzureADUser`, because it will deliver plenty of information:

![image](https://user-images.githubusercontent.com/25774289/113137728-34126c80-9225-11eb-86ef-2ebf7d9128c2.png)

When I perform the same with` Get-AzADUser`, I will receive only some basic information. **Bug or feature?**

![image](https://user-images.githubusercontent.com/25774289/113137910-6f14a000-9225-11eb-824

[2021-03-31 11:37] Gill-Bates opened #590 "Get-AzureADAuditSignInLogs: 'Connect-AzureAD first' even if already connected"
When I try to use `Get-AzureADAuditSignInLogs` under PS `7.13`. I receive following error, even when I previously conncted successfully:

`$PSVersiontable`
[code]
[code]

![image](https://user-images.githubusercontent.com/25774289/113138251-d4689100-9225-11eb-85f0-09371bca5b83.png)

[2021-03-31 11:41] dfo85 opened #591 "ErrorAction SilentlyContinue does not seem to be working"
It appears that ErrorAction SilentlyContinue is not working properly.  In my example I am simply trying to test if a remote connection to Azure AD PS already exists so I do not open another one.  Here is a simple example.

`if (!(Get-AzureADCurrentSessionInfo -ErrorAction SilentlyContinue)) {
    Connect-AzureAD -cred $cred
}`

The only workaround I can find at this time is a Try/Catch to catch th

[2021-04-06 09:17] sadomovalex commented on #373
for those who is interested: for original problem we found the following workaround using 2 another cmdlets Get-AzureADMSApplication and Set-AzureADMSApplication:
[code]

[2021-04-06 12:52] reikor0x opened #593 "Get-AzureADAuditSignInLogs with filter "userPrincipalName eq" not working"
Using the cmdlet Get-AzureADAuditSignInLogs with the filter statement -Filter "userPrincipalName eq 'admin@contoso.com'" do not produce any result.

I had to change the filter in -Filter "startswith(userPrincipalName,'admin@contoso.com')" to get results

[2021-04-13 11:15] MarkoKoivupera commented on #200
Hello,

Issue was closed in 2020, but this is still affecting us. Is there any updates or ETA on when we will be able to manage application proxies with powershell or graph API using managed identity or service principal? This is blocking proper application proxy certificate update automations at the moment.

[2021-04-13 11:25] githubarpyka commented on #200
Hello Marko,

This is currently not supported as it's documented in our FAQ: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-faq#can-a-service-principal-manage-application-proxy-using-powershell-or-microsoft-graph-apis-

It's still in the backlog of our developers. Once we have an update on this, we are going to update this thread.

In the meantime could you p

[2021-04-20 14:16] CloudDevDan opened #597 "New-AzureADMSInvitation 'InviteRedirectUrl' wrong example"
Example shows "http://myapps.onmicrosoft.com" where it should be "http://myapps.microsoft.com".

[2021-04-22 01:16] psignoret commented on #166
Hi everyone, just came across this issue myself, and found an approach that might help others around this issue. (Of course, this should only be useful to those who have a compelling reason to keep using the AzureAD module, instead of the [Microsoft Graph PowerShell](https://docs.microsoft.com/graph/powershell/installation) module.)

This workaround makes use of the fact that the `ExtensionPropert

[2021-04-22 21:53] iSnackyCracky commented on #166
Hi @psignoret,

interesting workaround. It would still be nice to get this fixed properly.

---

Regarding your recommendation to using the **Microsoft Graph** module (_Microsoft Graph PowerShell SDK_):

I don't think this is a proper replacement for the **AzureAD** module (_Azure Active Directory PowerShell for Graph_). At least not for the majority of users or use-cases.
The Graph module is expl

[2021-04-26 08:30] takeosaga opened #599 "Get-AzureADUser -All seems not to be worked"
I think that -All option of "Get-AzureADUser" is not worked.
![image](https://user-images.githubusercontent.com/53897973/116052253-66907780-a6b4-11eb-9a99-aa16fa990dcf.png)

[2021-04-28 10:08] Gelenkwurm35 commented on #599
You have to Type in a Boolean, so please use $true :)

[2021-04-29 03:24] Narfmeister opened #603 "Get-azureaduser filter"
Using this document for Get-AzureAdUser: https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0

The -filter parameter advises to use this reference document: https://www.odata.org/documentation/odata-version-3-0/odata-version-3-0-core-protocol/#queryingcollections

However the parameter does not appear to implement many of the features.
startswith works, end

[2021-04-30 13:07] magichappens89 opened #607 "Misleading Documentation"
I found the whole documentation of this module currently confusing as the title and the whole document makes the reader assume that the module is using the Graph API as its "Azure Active Directory PowerShell for Graph". However when you use the newest version you can see that the calls in the background are still partially calling Azure AD Graph which is misleading.

### Reproduce
Only by running

[2021-05-05 10:21] aexlz opened #608 "Connect a session as a service principal: Application was not found with identifier"
Hello Everyone,

I copy/pasted the code from https://docs.microsoft.com/en-us/powershell/module/azuread/connect-azuread?view=azureadps-2.0
Example 3: Connect a session as a service principal

Everything works fine until the last line is executed, where Connect-AzureAD is called.
I receive the following error

Error-Message:
Connect-AzureAD : AADSTS700016: Application with identifier '7239e8aa-751f

[2021-05-07 13:47] aexlz commented on #608
Everything is working fine with https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadserviceprincipal?view=azps-5.9.0.
No need for me anymore.

[2021-05-07 13:47] #608 closed

[2021-05-07 20:06] jcrainucdavis commented on #251
I am having the same issue with 2.0.2.130

[2021-05-07 20:37] jcrainucdavis commented on #251
Found the solution: Use the AzureADPreview module

[2021-05-10 01:02] josefzilak opened #609 "AzureADMSConditionalAccessPolicy outdated API call for conditionalAccessDeviceStates resource type"
New-AzureADMSConditionalAccessPolicy : Error occurred while executing NewAzureADMSConditionalAccessPolicy
Code: BadRequest
Message: The server could not process the request because it is malformed or incorrect.
InnerError:
  **Message: 1088: 'includeDeviceStates' and 'excludeDeviceStates' are no longer supported. Please use 'includeDevices' and 'excludeDevices' going forward.** For examples, pleas

[2021-05-20 10:48] vivere-dally opened #612 "Allow Connect-AzureAD's session to have an unique identifier which can be used to disconnect via Disconnect-AzureAD"
In the `Az.Accounts` module, there are two cmdlets: `Connect-AzAccount` and `Disconnect-AzAccount`. I'm using them as follows:
[code]

This allows me to be connected to Azure in multiple contexts with different accounts. I would like to have the same feature with `Connect-AzureAD` and `Disconnect-AzureAD`. I saw that `Disconnect-AzureAD` takes no parameters, so I assumed that it removes all contex

[2021-05-25 13:00] jhugery opened #614 "Get-AzureADApplication Not Returning All Application"
When running Get-AzureADApplication -All:$true  I would expect it to return all Applications listed under enterprise application.  It does not.  Here is a list of application from ERRnterpprise apps.
![image](https://user-images.githubusercontent.com/11261719/119501980-092d2c00-bd2f-11eb-87ec-57e28a3a0f02.png)
Here is the output from Get-AzureADApplication
![image](https://user-images.githubuserco

[2021-06-02 07:22] PlasmatikSteak commented on #245
This is still an issue as of 02-06-2021

[2021-06-03 15:04] emekm opened #617 "Set-AzureADMSConditionalAccessPolicy cmdlet issue to reset settings"
Hello,

Update of settings is working fine, but it is not possible to reset some of the settings using Set-AzureADMSConditionalAccessPolicy cmdlet.
The issue exists for reset of **SessionControls**, **GrantControls**, ConditionSet/**Locations**

### **How to reproduce:** try to update an exiting policy

- try to update policy using PS cmdlet Set-AzureADMSConditionalAccessPolicy (tried both of cmdl

[2021-06-06 11:57] DEberhardt opened #620 "Get-AzureAdGroup -SearchString does not find all Groups"
Hello,

the statement in example 2 is factually wrong:

Running the following command:
[code]

Now comparing with my own [`Find-AzureAdGroup`](https://github.com/DEberhardt/TeamsFunctions/blob/dev/Public/Functions/UserManagement/AzureAdObjects/Find-AzureAdGroup.ps1
):
[code]

`Get-AzureAdGroup -SearchString ...` only returns Groups that _start_ with the SearchString provided.
it should read:

Don'

[2021-06-06 13:54] aydeisen opened #621 "General Docs Update - Is the AzureAD PowerShell Module Abandonware?"
If I go by the documents currently published for the AzureAD module, I would come to the conclusion that the AzureAD module is abandonware.

- The [version history document](https://docs.microsoft.com/powershell/azure/active-directory/ad-pshell-v2-version-history?view=azureadps-2.0) hasn't been updated since June 2020, with the last version being 2.0.2.105
- The published version in the PowerShell

[2021-06-07 10:27] lakshayarora476 commented on #366
When this module issue will be addressed. I am also facing same issue.

[2021-06-07 21:14] rossandrewyoung commented on #166
remove-azureaduserextension does the trick

[2021-06-08 04:33] benoithamet opened #622 "Get-AzureAdAuditSigninLogs does not retrieve all logs for a user"
Hi there

I'm using the Get-AzureAdAuditSigninLogs to identify users which has not logged for 30 days as part of a script.
Unfortunately Get-AzureAdAuditSigninLogs seems to not using all sign in logs for a user; I have identified users which has not signed in for few days (3, 6 or 8) and they are reporting as not signed in for more than 30 days.
I'm sure this is not my code as I ran the Get-AzureA

[2021-06-08 04:38] benoithamet opened #623 "Documentation error for Get-AzureADAuditSignInLogs"
The documentation for Get-AzureADAuditSignInLogs (https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadauditsigninlogs?view=azureadps-2.0-preview) has incorrect sample code for Example 4

The documentation has
Get-AzureADAuditSignInLogs -Filter "status/errorCode eq 0 -All $true" but this returns an error
Get-AzureAdAuditSigninLogs : Error occurred while executing GetAuditSignInLog

[2021-06-08 14:46] toddalbers commented on #574
Is this issue being addressed?  jimmyth68 submitted this on Feb 23, 2021.  It is now June 06, 2021 and I see the same issue.  I understand that Get-AzureADAuditSignInLogs is part of AzureADPreview.  However, the [documentation for Get-AzureADAuditSignInLogs](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadauditsigninlogs?view=azureadps-2.0-preview)  doesn't mention anything a

[2021-06-10 03:34] ranabanerjee15 commented on #245
Hello Everyone, is the following statement true ?
 **Get-AzureAdDirectoryRole** only returns those role names which have been assigned to users. **

can there be a situation where a role is not "Enabled" and has users assigned to it ?

[2021-06-12 16:56] DEberhardt opened #625 "Submitting issues to pages in DOCS"
From the [DOCs page,](https://docs.microsoft.com/en-us/powershell/module/azuread/open-azureadmsprivilegedroleassignmentrequest?view=azureadps-2.0-preview) one cannot open an issue directly here.

Is that intentional?

[2021-06-12 16:56] DEberhardt opened #626 "Open-AzureADMSPrivilegedRoleAssignmentRequest Parameter TicketNumber missing?"
Hello,

Comparing the functionality of Open-AzureADMSPrivilegedRoleAssignmentRequest with the AzureAd Admin Center or the PowerShell equivalent Enable-PrivilegedRoleAssignment - [Use Case](https://github.com/MCSMLab/Activate-PimRoles/blob/master/Activate-PIMRole.ps1). Module: [Microsoft.Azure.ActiveDirectory.PIM.PSModule](https://www.powershellgallery.com/packages/Microsoft.Azure.ActiveDirectory.P

[2021-06-12 17:05] DEberhardt opened #627 "Open-AzureADMSPrivilegedRoleAssignmentRequest - more examples needed?"
Hello,

I find the one example does not show the full capability of this command
- Example 1 adds a new eligible role by an Admin
- Example 2 (below) enables an eligible Role by a User
- Example 3 (below) disables an active Role by a User

### Example 2
[code]

Create a role assignment request activating the Admin Role

### Example 3
[code]

Create a role assignment request disabling the Admin Rol

[2021-06-15 07:42] ChrisTav424 opened #628 "Get-AzureADAuditSignInLogs does not include 'non-interactive' sign ons"
Get-AzureADAuditSignInLogs does not include 'non-interactive' sign ons

This page should be amended
https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0-preview/AzureAD/Get-AzureADAuditSignInLogs.md
to reflect that fact it doesn't include non-interactive sign ons or the cmdlet Get-AzureADAuditSignInLogs should be amended to include 'non-interactive' sign ons

[2021-06-17 04:24] jeffzhu1990 opened #629 "Request Adding Note for Document 'azure-docs-powershell-azuread/docs-conceptual/azureadps-2.0/using-extension-attributes-sample.md'"
Hello, Teams,

**Please consider adding the below Note in this document.**

Note: There is no way to remove the attribute from AAD once extended, neither you can delete the 'Tenant Schema Extension App' without raising a request to the PayOps Team. Also, turning off the Directory extensions option from AADC Wizard won't remove the attributes nor let you get rid of the app.
The remove command 'Remo

[2021-06-17 06:40] waynenus opened #630 "AzureADPreview – Privileged Role Management commands don't work in Azure China environment"
Azure Environment: Azure China

AzureADPreview Version:

C:\windows\system32> Get-Module -name AzureADPreview | fl

Name              : AzureADPreview
Path              : C:\Users\wesu\OneDrive - Microsoft\Documents\WindowsPowerShell\Modules\AzureADPreview\2.0.2.136\Mic
                    rosoft.Open.AzureAD16.Graph.PowerShell.dll
Description       : Azure Active Directory V2 Preview Module.

[2021-06-19 02:13] djcabrera commented on #628
Bump - I just noticed this behavior a moment ago and found your comment.  Thanks for catching.

[2021-06-25 22:52] heckshmek commented on #614
Run the cmd below to get a list of all integrated apps (enterprise apps):

`Get-AzureADServicePrincipal -All:$true | ? {$_.Tags -eq "WindowsAzureActiveDirectoryIntegratedApp"}Get-AzureADServicePrincipal -All:$true | ? {$_.Tags -eq "WindowsAzureActiveDirectoryIntegratedApp"}`

[2021-06-30 02:24] msewaweru commented on #599
Please use this command as Get-AzureADUser -All $true.

Proceeding to close this issue #please-close.

Feel free to reopen the issue should you have any followup on this issue.

[2021-06-30 02:25] #599 closed

[2021-06-30 02:38] msewaweru commented on #564
@Absoblogginlutely, apologies for the delay in addressing this issue. We have since resolved the issues.

Proceeding to close this.

[2021-06-30 02:38] #564 closed

[2021-06-30 02:59] msewaweru commented on #614
Hi @jhugery, `Get-AzureADApplication` returns applications that have been registered in your Azure tenant. To return all Enterprise applications run `Get-AzureADServicePrincipal`.

Proceeding to close this issue. Feel free to reopen it with any follow-up issues.

[2021-06-30 02:59] #614 closed

[2021-07-01 14:27] #623 closed

[2021-07-01 14:27] #568 closed

[2021-07-01 14:28] #597 closed

[2021-07-01 14:28] #620 closed

[2021-07-06 23:30] jeffreymcclain opened #646 "Documentation error: Parameter descriptions missing for New-AzureADApplicationPasswordCredential"
Microsoft Documentation: https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplicationpasswordcredential?view=azureadps-2.0

Corresponding GitHub file: https://github.com/Azure/azure-docs-powershell-azuread/blob/master/azureadps-2.0/AzureAD/New-AzureADApplicationPasswordCredential.md

Note that the description for some of the parameters is "@{Text=}".
This should be replaced wi

[2021-07-07 15:44] msewaweru commented on #646
Hello @jeffreymcclain. Thanks for raising this issue. I have created a work item that will be actioned to resolve this error.
<html>
<body>

ID | Title | Assigned To | State | Area Path | Tags | Comment Count
-- | -- | -- | -- | -- | -- | --
1461597 | Issue: Parameter descriptions missing for New-AzureADApplicationPasswordCredential | Eunice Waweru | New | Technical Content\azure-ad-powershell |  

[2021-07-07 15:44] #646 closed

[2021-07-07 15:58] msewaweru commented on #607
Hello @magichappens89. Thanks for highlighting this issue.

We will update the overview of this docset to highlight the difference in the two types of cmdlets you mentioned in your example.
The Azure AD cmdlets have been build on Azure AD Graph endpoint (these cmdlets follow the format Verb-AzureAD...). we have another set of cmdlets formatted as Verb-AzureADMS.. which call the Microsoft Graph API

[2021-07-07 15:58] #607 closed

[2021-07-08 22:48] stuartmaxwell opened #649 "Multiple PowerShell cmdlets"
On most of the documentation pages, there are a number of different cmdlets provided for each command, without explaining which cmdlets should be used in which environments.

For example: https://docs.microsoft.com/en-us/powershell/module/azuread/connect-azuread?view=azureadps-2.0

This lists 3 different cmdlets for `Connect-AzureAD` each of which have slightly different parameters, but there is n

[2021-07-09 17:17] robertcaretta opened #654 "[BUG] - Connect-AzureAD - Could not load assembly"
**Issue:**
When attempting to use the Connect-AzureAD command I receive a message that it could not load file or assembly.
![image](https://user-images.githubusercontent.com/1613085/125114008-043df500-e0af-11eb-98ff-7d3c51f82d0a.png)

I am able to install and import the module just fine without errors.
Install-Module -Name AzureAD
Import-Module -Name AzureAD

**Repair:**
Have removed the module an

[2021-07-09 17:23] robertcaretta commented on #589
Interested in this thread.

[2021-07-15 13:46] msewaweru commented on #589
@kimaniderrick, please see this.

[2021-07-20 15:01] DFryatt opened #659 "Set-AzureADMSConditionalAccessPolicy - Sudden error: "Use the Canary endpoint to create or update this policy.""
Using this for a staged rollout of MFA.
Each morning a scheduled task runs and updates a CA policy by removing a particular mail-enabled security group from the `$Policy.Conditions.Users.ExcludeGroups`
This last worked properly on July 16, 2021 but it may or may not have worked up until today (July 20, 2021).

I have done the usual troubleshooting (updated the AzureAD module, tried on another mach

[2021-07-28 17:54] HughDevlin opened #671 "Get-AzSubscription doc duplicate examples with different output"
Get-AzSubscription

https://docs.microsoft.com/en-us/powershell/module/Az.Accounts/Get-AzSubscription

Example 1: Get all subscriptions in all tenants

and

Example 3: Get all subscriptions in the current tenant

are the same command:

PS C:>Get-AzSubscription

with different results.

Please clarify the documentation. Thank you.

[2021-07-28 17:58] HughDevlin opened #672 "add examples of hashtable as value of Azure Powershell TemplateFileObject parameter"
For Azure Powershell cmdlets that support the TemplateFileObject parameter, please add an example showing the construction of a params hashtable, in-script, as the value of the parameter

(non-exhaustive) examples of Azure Powershell cmdlets that support the TemplateFileObject parameter

    New-AzResourceGroupDeployment
    Test-AzResourceGroupDeployment

Inspiration:

https://gordon.byers.me/azu

[2021-07-28 18:01] HughDevlin opened #673 "New-AzResourceGroupDeployment Example 3 fails"
Describe the bug
Azure Powershell
New-AzResourceGroupDeployment
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-4.6.1#examples

Example 3 fails`

To Reproduce
Steps to reproduce the behavior:

    Go to Example 3
    Click on Try it
    try it
    See error:

New-AzResourceGroupDeployment: Missing an argument for parameter 'TemplateParameterO

[2021-08-01 19:14] jspern commented on #317
It has been two years and the documentation is still not fixed. The example still uses the MembershipRule parameter.

[2021-08-02 08:32] msewaweru commented on #673
Hello @HughDevlin, you opened this issue in the wrong repo. Please open it from the [Azure PowerShell repo](https://github.com/Azure/azure-powershell/issues).

[2021-08-02 08:32] #673 closed

[2021-08-02 08:34] msewaweru commented on #672
Hello @HughDevlin, you opened this issue in the wrong repo. Please open it from the [Azure PowerShell repo](https://github.com/Azure/azure-powershell/issues).

[2021-08-02 08:34] #672 closed

[2021-08-02 08:35] msewaweru commented on #671
Hello @HughDevlin, you opened this issue in the wrong repo. Please open it from the [Azure PowerShell repo](https://github.com/Azure/azure-powershell/issues).

[2021-08-03 17:04] LegiaScouser commented on #535
@billmath Hey Bill how can a guy/gal pull the -AppRoleAssignmentID to pipe it into this Remove command if the Getter doesn't fetch it!? 😄 thanks!

[2021-08-03 17:17] mbendana commented on #535
@LegiaScouser

You may be able to use this one:

Get-AzureADUserAppRoleAssignment -ObjectId <USER_OBJECT_ID_GOES_HERE> | % { Remove-AzureADUserAppRoleAssignment -ObjectId $_.PrincipalId -AppRoleAssignmentId $_.ObjectId }

[2021-08-03 17:22] LegiaScouser commented on #535
@mbendana holy wow!

[2021-08-03 17:26] LegiaScouser commented on #535
@mbendana

Remove-AzureADUserAppRoleAssignment : Error occurred while executing RemoveUserAppRoleAssignment
Code: Request_BadRequest
Message: The request URI is not valid. Since the segment 'Microsoft.DirectoryServices.User' refers to a collection, this must be the last segment in the request URI. All intermediate segments must refer to a single resource.

    + CategoryInfo          : NotSpecifie

[2021-08-03 18:45] LegiaScouser commented on #535
it would be amazing if there was a powershell example for this.
https://docs.microsoft.com/en-us/users/register?redirectUrl=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fgraph%2Fapi%2Fuser-list-approleassignments%3Fview%3Dgraph-rest-1.0%26tabs%3Dhttp%23example-1-list-approleassignments-granted-to-a-user

[2021-08-03 18:45] mbendana commented on #535
@LegiaScouser

Then, you'll have to do something like:

$arrayOfUserObjectIdsVariable | % {Get-AzureADUserAppRoleAssignment -ObjectId $_ } | % { Remove-AzureADUserAppRoleAssignment -ObjectId $.PrincipalId -AppRoleAssignmentId $.ObjectId }

[2021-08-03 19:56] LegiaScouser commented on #535
@mbendana thank you so much you saved my day :D

[2021-08-09 09:24] stromvirvel commented on #166
@RobdeJong This issue clearly isn't fixed. Please re-open.

[2021-08-12 14:58] msewaweru commented on #649
Hello @stuartmaxwell, thanks for your query and apologies for the delayed response.

To explain your query, these are not multiple cmdlets but multiple parameter variants and how to use them. Picking the example of the `Get-AzureADDirectoryRole` cmdlet the 2 parameter variants can be explained as below and also based on the examples provided which have made use of both the variants:
1. The first v

[2021-08-12 14:58] #649 closed

[2021-08-13 16:06] psignoret commented on #166
@ChrisAtMAF @stromvirvel
A few things to keep in mind:

1. This repo is for the documentation for the AzureAD module. Issues here are expected to be about the documentation, not about the module itself.
2. That said, I've provided a fairly simple work-around above you can use to set a null value to an attribute: https://github.com/Azure/azure-docs-powershell-azuread/issues/166#issuecomment-8244659

[2021-08-16 12:17] kimaniderrick commented on #589
For applications that are yet to migrate from AAD graph by June 2022, we will have an exception and will communicate as time goes on our plans.

[2021-08-18 14:22] sanderdewit opened #683 "set-AzureADMSAuthorizationPolicy DefaultUserRolePermissions class issue"
I'm running into the following issue when trying to define the defaultuserrolepermisssions

`
$defaultUserRolePermissions = New-Object Microsoft.Open.MSGraph.Model.DefaultUserRolePermissions
$defaultUserRolePermissions.PermissionGrantPoliciesAssigned = $null (Disable user permission to consent)
$defaultUserRolePermissions.defaultUserRolePermissions.AllowedToCreateApps = $false
$defaultUserRolePerm

[2021-08-19 15:41] msewaweru commented on #589
Hello @felickz, please take note of the comment by @kimaniderrick. I will proceed to close this issue. Feel free to reopen it should you have any follow up feedback.

[2021-08-19 15:41] #589 closed

[2021-08-23 09:18] astaykov opened #688 "Missing samples and information on parameters for Set-MsolDomainFederationSettings"
The documentation about [Set-MsolDomainFederationSettings](https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-1.0/MSOnline/Set-MsolDomainFederationSettings.md) does not provide information on which parameters are mandatory, which are optional. Neither does it provide information on expected or valid values for `PreferredAuthenticationProtocol` (beside that it should of type

[2021-08-23 09:24] astaykov opened #689 "Missing information about the output object type for New-AzureADMSInviation"
The documentation about [New-AzureADMSInvitation](https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0/AzureAD/New-AzureADMSInvitation.md) states the output of this command is an object, but it is lacking any description about the output object - type, properties, methods, etc.

[2021-08-24 05:07] TonySh127-ms opened #690 ""Get-AzureADAuditDirectoryLogs" is not recognized error"
I would like to consult the term 'Get-AzureADAuditDirectoryLogs' is not recognized reason. The command can be found in the ISE and can be tab in the command line. But it still show the not recognized error after enter. Any workaround or solution will be much appreciate.
reproduce step

- Run command: AzureADPreview\Connect-AzureAD
- Run command: Get-AzureADAuditDirectoryLogs >> Not recognized erro

[2021-08-25 18:47] AlyaKoni opened #693 "Get-MsolDeviceRegistrationServicePolicy error"
Loaded Modules:
MSOnline 1.1.183.57
AzureADPreview 2.0.2.138

Running the cmdlet Get-MsolDeviceRegistrationServicePolicy gives error:
At least one error happened.

Full trace in german:
Get-MsolDeviceRegistrationServicePolicy : Mindestens ein Fehler ist aufgetreten.
In Zeile:1 Zeichen:1
+ Get-MsolDeviceRegistrationServicePolicy
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2021-08-25 18:52] AlyaKoni opened #694 "Set-MsolDeviceRegistrationServicePolicy -AllowedToAzureAdJoin Selected gives error"
Loaded Modules:
MSOnline 1.1.183.57
AzureADPreview 2.0.2.138

Running the following cmdlet:
`Set-MsolDeviceRegistrationServicePolicy -AllowedToAzureAdJoin Selected -Users $AlyaAllowedUsers -Groups $AlyaAllowedGroups`
$AlyaAllowedUsers is set to a Microsoft.Online.Administration.User
$AlyaAllowedGroups is set o a Microsoft.Online.Administration.Group

I get the error:
object reference not set to an

[2021-08-25 22:31] haneef95 opened #695 "Connect-AzureAD doesn't work with PowerShell Core 7.1.4"
Hi,

I'm getting this error:
[code]

Running the latest version of PWSH Core:
[code]

Kindly advise on resolving it.

Kind regards,

[2021-09-01 16:40] JLevy99 commented on #695
I am having this same issue

[2021-09-01 19:05] haneef95 commented on #695
From what I've read after my post above is that AzureAD module will no longer be updated and that all AzureAD scripts have to be migrated to the Microsoft Graph PWH Script.

[code]

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

[2021-09-01 19:07] haneef95 commented on #695
and yes, `Connect-Graph` does work with PWSH, hence, closing this issue for now.

[2021-09-01 19:07] #695 closed

[2021-09-05 19:25] sandude-ms commented on #591
I am seeing the same behavior, and also with Get-AzureADUser.  I am using it like this:

if (-not (Get-AzureADCurrentSessionInfo -ErrorAction Ignore) {
    Connect-AzureAD
} else {
# run the rest of the script
}

But upon the test, the script is just terminated and never continues.  I am going instead do this:

$UserAzureADSessionInfo = Get-AzureADCurrentSessionInfo -ErrorAction SilentlyContinue

[2021-09-08 08:15] msewaweru commented on #621
@aydeisen, thanks for these issues. Here are my responses;
- For the version history page, we have updated it with changes from the most recent release and we will ensure to update it as new releases are done. We will also endeavor to highlight the changes in the 7 Azure AD and 6 Preview modules that have been missed in the past.
- The GitHub repo for this module is [Azure AD PowerShell](https://g

[2021-09-08 08:15] #621 closed

[2021-09-10 10:05] commakoerschgen commented on #683
As of version 2.0.2.140 of AzureAD (*not*$ preview), I get a fourth property `PermissionGrantPoliciesAssigned` for `$policy.DefaultUserRolePermissions`.

Apart from that, have you tried using an empty array instead of null in line 2 of your command?

[2021-09-10 10:08] commakoerschgen opened #713 "Get/Set-AzureADMSAuthorizationPolicy: add documentation for stable verison"
These commands are now in the stable version (tested with 2.0.2.140). Please add appropriate documentation.

Note that the syntax has changed heavily in comparison to the preview. I do not know whether the preview commands still use the old syntax.

[2021-09-10 10:19] shailja11 commented on #683
Can i stop getting notification of all these changes.

On Fri, 10 Sep, 2021, 11:08 am commakoerschgen, ***@***.***>
wrote:

[2021-09-10 10:53] sanderdewit commented on #683
issue is indeed resolved in newer module version.

[2021-09-10 10:53] #683 closed

[2021-09-10 17:41] aydeisen commented on #621
@msewaweru

Thanks for your reply.  Just one question remains outstanding:

What's the roadmap to make the AzureAD module compatible with Powershell 7?

[2021-09-13 17:42] CelesteDG commented on #713
#assign:@mswaweru

[2021-09-15 14:21] msewaweru commented on #621
Hello @aydeisen, I will follow up with the team to find this out. I will let you know once I do.

[2021-09-15 14:22] aydeisen commented on #621
@msewaweru

Thank you.  I appreciate the team's effort to bring all of this documentation up to date

[2021-09-15 17:24] cfcpreilly commented on #245
@ranabanerjee15 That statement doesn't appear to be correct. After assigning a member to a role the role becomes enabled. After removing the member the role remains enabled. So I now have an enabled role with no assignments.

[2021-09-16 02:51] ranabanerjee15 commented on #245
@cfcpreilly  I found that the AD role only becomes enabled when any user is assigned to the role. once assigned the role stays enabled even if no users are assigned to it.

[2021-09-16 07:05] msewaweru commented on #713
Hello @commakoerschgen, we have added documentation for the 2 cmdlets. I will proceed to close this issue. Feel free to get back to me with further feedback.

[2021-09-16 07:05] #713 closed

[2021-09-16 13:14] cfcpreilly commented on #245
@ranabanerjee15 That's been my experience too.

[2021-09-21 02:07] jishua9 opened #717 "New-AzureADMSGroup errors with -Membershiprule"
https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0
The powershell comment New-AzureADMSGroup errors saying there is no parameter for -membershiprule.
The example code in the documentation also errors wit the same response. It seems that this feature is not supported on this function anymore

[2021-09-21 09:29] homotechsual commented on #717
The parameter doesn't exist on the standard `AzureAD` module - it does exist for `AzureADPreview` it should be removed from examples on the `AzureAD` module

[2021-09-22 07:44] PorreKaj commented on #156
So, did this ever get resolved @gutyex ?

[2021-09-22 09:23] gutyex commented on #156
@PorreKaj

Using Parse-JWToken from https://www.michev.info/Blog/Post/2140/decode-jwt-access-and-id-tokens-via-powershell

$upn = (Parse-JWTtoken ($AADtoken)).Unique_name
Connect-AzureAD -AadAccessToken $AADtoken -AccountId $upn -MsAccessToken $Graphtoken

[2021-10-04 22:14] WillParry opened #721 "No example for Connect-AzureAD using Service Principal with a Secret Key"
The only example for using Connect-AzureAD using a Service Principal is with a certificate. Sometimes this isn't practical, I could provide some code for an example using a Client Secret as I've had to work that out, which I did with some assistance from users on the PowerShell channel on Slack.com

[2021-10-06 19:51] jackchenwork commented on #155
I had a argument with one of my colleagues a while ago, he is powershell lover and I hate it to guts. Things like this made it so difficult to get powershell code to work properly and the issue has been here for years and seems nobody care.

I met this problem today, and my workaround is do not use ObjectId, instead :

`$user=Get-AzureADUser` |Where-Object { $_.UserPrincipalName -eq "$UPN" }
 if (

[2021-10-07 04:31] alan-hu commented on #717
I am running AzureADPreview v2.0.2.138 and this MembershipRule parameter still isn't recognized?!

[2021-10-13 15:29] McHusky commented on #155
I just ran into the same problem and found your comment here. This quick fix using where-object takes too much time when many user objects exist. We did it the way Microsoft explains it:
https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0#example-4--get-a-user-by-userprincipalname

This also works for variables:
$user = Get-AzureADUser -Filter "userPrincip

[2021-10-18 10:10] msewaweru commented on #621
Hi @aydeisen. This is to let you know Azure AD PowerShell will not updated to work with PowerShell 7. To get more info on the current and future investments please see [this blogpost](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/automate-and-manage-azure-ad-tasks-at-scale-with-the-microsoft/ba-p/1942489).

[2021-10-18 17:42] Kaidja opened #723 "Get-AzureADMSPrivilegedRoleSetting -ProviderId AzureResources"
Hi,

I'm trying to query Azure Resource roles with this command but it fails. Am I missing something important or this cmdlet is broken?

Get-AzureADMSPrivilegedRoleSetting : Error occurred while executing GetAzureADMSPrivilegedRoleSettings
Code: UnauthorizedAccessException
Message: Attempted to perform an unauthorized operation.
InnerError:
  RequestId: a3421aaf-ce2b-4302-a75c-adda94d3aa72
  Date

[2021-10-27 06:30] venkateshtarra opened #724 "Error while registering new application in AD using Azure Powershell."
Hi Team,

I am trying to create FHIR server in Azure and registering API in AD using below command but it is giving error as highlighted.
I have upgraded AZ module version to 6.5 but still getting this error. Can we solve this issue without creating subdomain under registered custom domain name as mentioned in this link.

#16097 (comment)

New-AzureADApplication -DisplayName $FhirServiceAudience -

[2021-10-27 22:54] githubnoobie916 opened #727 "unable to use variable in filter for Get-AzureADAuditSignInLogs"
Trying to process a list of users using the script below but it doesnt seem to work correctly. When there are 2 users in the list there are no results and if there are 15 users I get an error message.

[code]

Error message I get when there are over 15 users in the list:

[code]

[2021-11-02 11:56] lithdk commented on #724
I dont really need a valid identifier uri for what I do, so I've used "https://dummy" thus far, which also broke. Am now using
`New-AzureADApplication -DisplayName "xxx" -IdentifierUris ("https://dummy.$((Get-AzureADDomain | where IsVerified -eq $true)[0].name)")`

[2021-11-03 21:02] LuisEmilioR commented on #654
can't understand how this issue is getting 0 traction. PowerShell 7 has been out for quite some time now we need at least an acknowledge response that compatibility is being addressed.

[2021-11-10 13:59] DrReedo commented on #724
Did that work @lithdk ?  I am also getting the same problem as my IdentifierUri contains azurewebsites.net which I can't verify in my domain.

[2021-11-11 15:17] shaunsat commented on #584
This is the same for me, I wrote a load of scripts sometime ago and was wondering why they suddenly stopped working

[2021-11-16 20:50] KelChengAya opened #738 "AzureAD-Preview Remove-AzureADServicePrincipalPolicy uses wrong example"
Remove-AzureADServicePrincipalPolicy in the AzureAD-Preview uses the wrong command (Remove-AzureADApplicationPolicy) for the example.

[2021-11-22 22:06] jspcstl opened #741 "Open-AzureADMSPrivilegedRoleAssignmentRequest does not support scoped assignments"
The cmdlet does not support creating assignments that are scoped to Administrative Units, this is a critical feature when using PIM for granular delegation.

Looks like Graph exposes the necessary property for that "directoryScopeId"

https://docs.microsoft.com/en-us/graph/api/resources/unifiedroleassignmentscheduleinstance?view=graph-rest-beta

[2021-11-23 13:53] jspcstl commented on #741
Opened this on docs repository, my bad

[2021-11-23 13:53] #741 closed

[2021-11-25 12:16] msewaweru commented on #723
@Kaidja , from the error it seems the account has no rights to PIM. Is the account you are using a Global administrator or a Privileged role administrator?

[2021-11-25 12:18] Kaidja commented on #723
I discovered that the filter was wrong. I had the GA account permissions.

[2021-11-25 12:19] msewaweru commented on #717
Issue resolved by https://github.com/Azure/azure-docs-powershell-azuread/pull/728

[2021-11-25 12:19] #717 closed

[2021-11-25 12:50] msewaweru commented on #723
Proceeding to close this issue.

[2021-11-25 12:50] #723 closed

[2021-11-25 13:05] msewaweru commented on #625
This is by design at the moment. Should this change, I will update you here. Proceeding to close this issue.

[2021-11-25 13:05] #625 closed

[2021-11-25 13:27] msewaweru commented on #603
Hello @Narfmeister, you are right. Not all filter operators are currently supported in  the Azure AD PowerShell module. We are however working to ensure that most of these operators are supported in the Microsoft Graph PowerShell module that will replace the Azure AD PowerShell module. See [Advanced query capabilities in Microsoft Graph](https://docs.microsoft.com/en-us/graph/aad-advanced-queries#

[2021-11-25 13:27] #603 closed

[2021-11-26 16:33] DavidHomerOxford commented on #245
The graph API documentation clarifies this "To read a directory role or update its members, it must first be activated in the tenant." Once it's activated you can't deactivate it. It's quite an odd behaviour and should be documented.
https://docs.microsoft.com/en-us/graph/api/resources/directoryrole?view=graph-rest-1.0

There's also a couple of other weirdnesses I've found.

1. Get-AzureADDirector

[2021-12-01 08:57] benoittgt commented on #407
AzureADpreview can only be used in PowerShell not cloud shell. See https://docs.microsoft.com/en-us/answers/questions/645848/get-azureadpolicy-is-not-working-under-version-ver-1.html

[2021-12-01 21:15] tp-matt-wiese opened #743 "Get-AzureADGroup -SearchString error"
Running into an issue where I attempt to use -SearchString with that command and receive the following error:

Get-AzureADGroup: Could not load file or assembly 'Microsoft.Data.Services.Client, Version=5.8.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

I am running VSCode on macOS. Most other simple commands work but I fear that other, far more

[2021-12-01 22:39] madansr7 commented on #577
@amarbut24  you can set the `preferredTokenSigningKeyThumbprint` property to the thumbprint of the certificate you want Azure AD to use to sign the SAML response.

**Sample request**

[code]

[2021-12-01 22:39] #577 closed

[2021-12-02 01:43] Narfmeister commented on #603
@msewaweru

In that could could you please update the documentation to reflect the features that it does have.
Otherwise it's misleading to state that you use x standard when in fact you don't or its only partially implemented.

[2021-12-02 13:54] msewaweru commented on #603
@Narfmeister , thanks for your comment. Feature parity between the two modules is still ongoing work.

I will get the current doc updated to represent the supported parameters. Thanks.

[2021-12-02 20:16] uttampcu opened #745 "MembershipRule and MembershipRuleProcessingState attributes not visible"
MembershipRule & MembershipRuleProcessingState attributes not available in the latest AzureAD or AzureADPreview modules as of Dec-2-2021

[2021-12-02 20:18] uttampcu opened #746 "No link to how to use Filters"
Filters were relatively easy in Get-AD*.  There are no samples or pointers to how to compose filters in this article

[2021-12-06 14:57] msewaweru commented on #746
Hi @uttampcu, thanks for your feedback. Could you please indicate with article you are referring to? Thanks.

[2021-12-07 08:35] Steltek commented on #155
Instead of using where or filter, you can just wrap the whole thing in a Try and Catch the error:

[code]

[2021-12-13 09:53] RocketRob97 opened #749 "Get-AzureStorageContainer - Specify Authentication"
Hi all,

i am trying to use Get-AzureStorageContainer to get all Containers from a Storage Account with disabled Key authentication.

I have found there is a -DefaultProfile Argument, but i don't know what to pass and if this is even a viable option. Would a REST Call help here? I am not really familiar with REST API and would like to use Powershell Cmdlets if possible.

Thank you!!

Error:

[code

[2021-12-14 11:14] Palasito opened #750 "Set-AzureADMSConditionalAccessPolicy issue not updating groups and users on web UI"
Created a function to import AADGroups and assign them to Conditional access policies by name.

After running the function went on to aad.portal.azure.com and endpoint.microsoft.com in order to check the outcome and all the relevant policies were not updated.

![image](https://user-images.githubusercontent.com/59915398/145987143-20421d5b-2286-41e5-8c7d-9b2c55ed321f.png)

Immediately ran "((Get-Azu

[2021-12-16 08:20] Palasito commented on #750
Update: 2 days later the same issue persists, conditional access policies are working as expected to users but the Web UI is still at "0 users or workload identities selected"

[2022-01-11 07:58] msewaweru commented on #567
Hello @shaunsat , thanks for highlighting this and apologies for the delayed feedback. Could you please add a link to article you are referring to.

[2022-01-11 08:21] msewaweru commented on #570
Hello @danmyhre, thanks for the issues and apologies for the delayed response. Kindly note that most of the efforts are going into documenting the new Microsoft Graph PowerShell SDK and the MSOnline and Azure AD modules will soon be deprecated. We however update this documents when there is a customer issue that needs to be resolved.

Kindly let me know if you have encountered any issues or gap in

[2022-01-11 08:21] #570 closed

[2022-01-12 11:38] shaunsat commented on #567
Hi @msewaweru that would be in the New-AzureADMSConditionalAccessPolicy cmdlet

[2022-01-12 13:41] msewaweru commented on #567
Thanks @shaunsat, I will check this out and if need be forward it to the relevant team for resolution.

[2022-01-12 13:52] msewaweru commented on #576
Hello @Alexey-Zheltov thanks for highlighting this issue and apologies for the delayed response. We have made updates for the last releases of Azure AD and Azure AD Preview modules save for the Azure AD version 2.0.2.140. We shall endeavor to continually update this page with any new releases.

Also not that we asking our customers to migrate to the new [Microsoft Graph PowerShel](https://docs.mic

[2022-01-12 13:52] #576 closed

[2022-01-12 14:38] msewaweru commented on #590
Hello @Gill-Bates, please update to the latest Azure AD Preview version and retry this. I'm able to run this cmdlet without being asked to reconnect.

I will proceed to close this issue Feel free to reopen it with ay further feedback.

[2022-01-12 14:38] #590 closed

[2022-01-13 09:33] msewaweru commented on #593
Hello @reikor0x thanks for highlighting this and apologies for the delayed response.

I have created a [PR](https://github.com/Azure/azure-docs-powershell-azuread/pull/754) to remove the example that is not working as I follow up on what changed.

I will proceed to close this issue. Feel free to reopen it with any follow up feedback.

[2022-01-13 09:33] #593 closed

[2022-01-13 17:14] msewaweru commented on #591
Thank you for your issue submission and apologies for the delayed response. Unfortunately, this appears to be a problem with the cmdlet and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=wind

[2022-01-13 17:14] #591 closed

[2022-01-13 18:07] PhrygianMode opened #755 "Get-AzureADAuditSignInLogs is Case Sensitive and Shouldn't Be"
When using the command:

_Get-AzureAdAuditSigninLogs -filter "userprincipalname eq 'First.Last@companyname.com'"_

I have confirmed that the command is case sensitive. If I run the command with any capital letters, the command fails to retrieve any results. Even if the account is setup as 'First.Last' in active directory, it must be run as 'first.last' in PowerShell. This is a nightmare for script

[2022-01-13 18:29] PhrygianMode commented on #755
This issue was also investigated during Microsoft case #2201120040007940 via support agent with alias 'olosinsk'.

[2022-01-14 07:42] msewaweru commented on #629
Hello @jeffzhu1990 , thanks for highlighting this and apologies for the delayed response.

Could you indicate which document you would like the provided text to be added to?

[2022-01-14 07:47] msewaweru commented on #654
Thank you for your issue submission and apologies for the delayed response. Unfortunately, this appears to be a problem with the cmdlet and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=wind

[2022-01-14 07:47] #654 closed

[2022-01-14 08:28] msewaweru commented on #689
Thanks @astaykov for highlighting this.

@jpettere, could you help with what we need to update in docs to resolve this issue?

[2022-01-14 08:35] msewaweru commented on #690
Hello @TonySh127-ms , thanks for your issue submission and apologies for the delayed response.

What version of the Azure AD Preview module are you running? I was able to run the cmdlet but did not encounter the error you indicated. I'm on the latest version 2.0.2.138.
![image](https://user-images.githubusercontent.com/73849846/149479112-d5573e4c-f338-4ce0-a08f-5b56edd14227.png)

Proceeding to clo

[2022-01-14 08:35] #690 closed

[2022-01-14 08:54] msewaweru commented on #693
Hello @AlyaKoni, thanks for your issue submission and apologies for the delayed response.

I'm unable to reproduce this error running the same version on MSOnline module 1.1.183.57.

![image](https://user-images.githubusercontent.com/73849846/149486947-9df6f515-3e09-48db-b237-0d43f7baddcf.png)

Please redo this and let me know. I will proceed to close this issue. Feel free to reopen it with any fo

[2022-01-14 08:54] #693 closed

[2022-01-14 09:20] msewaweru commented on #694
Hello @AlyaKoni, thanks for your issue submission and apologies for the delayed response.

I will ask @spunukol to advise on the best way to provide the run this Set cmdlet.

[2022-01-14 14:57] AlyaKoni commented on #693
Problem still exists. Please reopen!

PS C:\Users\konrad.brunner> Get-MsolDeviceRegistrationServicePolicy

Get-MsolDeviceRegistrationServicePolicy : Mindestens ein Fehler ist
aufgetreten.

In Zeile:1 Zeichen:1

+ Get-MsolDeviceRegistrationServicePolicy

+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    + CategoryInfo          : OperationStopped: (:)
[Get-MsolDeviceRegistrationServicePolicy], Aggregat

[2022-01-14 15:05] kjyam98 commented on #688
Hi @msewaweru - I'm not familiar with this command... @Justinha can you assist?

[2022-01-14 15:22] AlyaKoni commented on #693
Looks like the way how you login plays a role. Here an example script to
reproduce:

Connect-AzAccount

$AlyaContext = Get-AzContext

$graphToken =
[Microsoft.Azure.Commands.Common.Authentication.AzureSession]::Instance.Auth
enticationFactory.Authenticate($AlyaContext.Account,
$AlyaContext.Environment, $AlyaContext.Tenant.Id, $null, "Never", $null,
https://graph.microsoft.com).AccessToken

$aadTok

[2022-01-14 22:16] besiler commented on #574
@msewaweru can you assign this to me?

[2022-01-18 09:30] msewaweru commented on #721
Hello @psignoret, could you help us with adding the requested example.

[2022-01-18 09:47] msewaweru commented on #612
Hello @psignoret, could you please help to answer this query?

[2022-01-18 09:50] msewaweru commented on #724
Hello @sureshja, assigning this to you so you can help answer the customer question.

[2022-01-18 10:03] WillParry commented on #721
Hi @msewaweru

Sorry, ADHD, I'm always really busy and so I often want to help out or respond etc. I basically ended up creating a function I'm using do do this, but it's a bit complicated, in that some cmdlets need 'Scope', my function has a switch parameter called -UseScope, so if that's set, then the URL used for getting an access token is "https://graph.microsoft.com/.default" otherwise it's "

[2022-01-18 10:55] WillParry commented on #721
I've extracted the code from my function, as I wasn't too sure about it. It feels a bit long winded for an example in the documentation and could also do with a list of commands that require the access token using the resource and those that require a scope access token.

For example, my full script used resource access token for Get-AzureADMSTrustFrameworkPolicy, Set-AzureADMSTrustFrameworkPolicy

[2022-01-18 15:37] psignoret commented on #721
@msewaweru I suggest asking the owners of the PowerShell module whether they want to include an example using client secret. (In the Microsoft Graph PowerShell examples, for instance, this was deliberately omitted: https://docs.microsoft.com/graph/powershell/app-only)

@WillParry The main issue with the example script as you've shown it that it suggests the poor practice of including highly privil

[2022-01-18 16:03] psignoret commented on #612
@msewaweru I'm not familiar with the details for how Connect-AzureAD or Disconnect-AzureAD work with regards to PowerShell sessions.

[2022-01-18 17:44] msewaweru commented on #612
Thanks @psignoret. I will try get the owner of this cmdlet to address it.

[2022-01-19 13:42] #738 closed

[2022-01-19 13:56] msewaweru commented on #743
Hello @tp-matt-wiese and thanks for highlighting this issue. Could share the actual query that you are running. When I run it as below I do not get an error.

![image](https://user-images.githubusercontent.com/73849846/150144638-b858ce43-a987-48c9-962a-08282824b4fb.png)

[2022-01-19 14:18] msewaweru commented on #745
Hello @uttampcu for highlighting this. This 2 attributes are available on Azure AD Preview. I'm running the latest Azure AD Preview version 2.0.2.138 and I'm able to execute the example 1 in [this article](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0-preview#examples).

Please let me know what error you are experiencing.

[2022-01-19 14:25] msewaweru commented on #749
Hi @RocketRob97, I'm not sure which PowerShell module you are running as Get-AzureStorageContainer cmdlet is not part of the AzureAD PowerShell cmdlets.
Issues in this repo are for documentation issues. You can try one of the following links for additional help.
Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsaz

[2022-01-19 14:25] #749 closed

[2022-01-20 10:08] msewaweru commented on #755
Hello @PhrygianMode thanks for surfacing this issue. We have been resolving the fact that this filter query does not work as provided in the docs and have instead done [a PR](https://github.com/Azure/azure-docs-powershell-azuread/pull/754) to update that example provided for this cmdlet. We are however following up on finding out why this query does not work as is.

In the meantime, please use and

[2022-01-20 19:50] davidspooner commented on #750
HI Palasito, I would be happy to look into this further with you. Would you be willing to share more detailed about your function? I assume if you use the group GUID's the Web UI updates correctly?

[2022-01-20 21:17] davidspooner commented on #609
Hi, josefzilak, I have raised this with the PM that owns this, the DeviceStates is a deprecated features and is being replaced by devicefitlers.  We will make sure the necessary behaviours and documentation are updated appropriately.

[2022-01-21 09:46] msewaweru commented on #629
Ignore this query, I found the article. I will follow up with the owner to advise further.

[2022-01-21 16:57] davidspooner commented on #659
HI DFryatt, Is this still an issue for you?  If so, would you mind sharing the policy that you are running the set against.  Preview features are only available on the Beta endpoint.  The error here is suggesting the Canary needs to be used hence i am curious what conditions in the policy are configured?

[2022-01-21 22:58] Tiberriver256 opened #759 "How to open a Github issue with the team that develops/maintains the PowerShell cmdlets?"
There are still important features missing in this PowerShell module that force people to have to use the MSOL module (i.e., forcing a user to change their password #190). The MSOL modules use the old Azure AD Graph which is close to retirement which will mean admins are left without any avenue to do their work.

How do we contact the developers to report an issue? I see on other threads mention o

[2022-01-24 10:00] Palasito commented on #750
Hello davidspooner, unfortunately no, I could not make the web UI update correctly.

Function is a part of a bigger powershell script (~500 lines) that basically assigns groups to Conditional Access Policies via a CSV file where the values are:

- DisplayName of CA Policy
- IncludedGroups (The diplayNames of groups to include)
- ExcludedGroups (The DisplayNames of groups to Exclude)

I am attachin

[2022-01-24 23:30] stevenwhitej commented on #217
Hi @billmath, and updates on this?  The [Get-AzureADUser](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0) page is still explaining the Filter parameter with a link to this [OData v3 page](https://www.odata.org/documentation/odata-version-3-0/odata-version-3-0-core-protocol/#queryingcollections) and it contains functions that still don't work.  Thanks!

[2022-01-25 01:45] billti opened #760 "Docs should call out deprecation and lack of PowerShell 7 support"
The page at https://docs.microsoft.com/en-us/powershell/module/azuread makes no mention that this module is deprecated. The page at https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview states _"The Microsoft Graph PowerShell SDK is the replacement for the Azure AD PowerShell module and is recommended for interacting with Azure AD"_, so I assume this is the case.

Also, the landing p

[2022-01-25 08:55] leswaters commented on #217
@Billmath The link to the OData v3 page is a good reference, but as @stevenwhitej points out, there are a number of functions and operators that (sadly) don't work yet. Pull request #761 created for the following proposed change:

`-Filter`
Specifies an oData v3.0 filter statement. This parameter controls which objects are returned. Details on querying with oData can be found here. http://www.odat

[2022-01-26 09:50] ztrhgf opened #766 "Different behavior for Get-AzureADServiceAppRoleAssignedTo and Get-AzureADServiceAppRoleAssignment based on auth type?"
I've noticed that these two cmdlets (Get-AzureADServiceAppRoleAssignedTo and Get-AzureADServiceAppRoleAssignment) behave differently (probably) because of auth. type I use to connect AzureAD.

<img_ width="887" alt="image" src="https://user-images.githubusercontent.com/2930419/151140033-3128d3ef-5e0a-48b3-a719-a4922a91a866.png">

The left console is authenticated using a global admin **user**. The

[2022-01-26 16:50] WillParry commented on #721
A good point, perhaps I need to update my snippet and or function to make it more secure, I'm not storing any credentials in it of course, these come from the automation that I intended to run my script / function, but I see your point any it would be better if an example were to be provided that it show a very secure way of doing this. Thanks for the feedback.

[2022-01-31 19:57] fabnord commented on #689
@msewaweru @jpettere any update on this one?

[2022-01-31 19:58] fabnord commented on #688
@msewaweru @Justinha any update on this one?

[2022-02-01 10:53] msewaweru commented on #688
@astaykov apologies for the delay in responding to this. To answer the first part, the only mandatory parameter is the DomainName while the rest are optional as per the documentation. Kindly allow me to follow up with the team to answer the rest of the queries.

[2022-02-01 10:59] msewaweru commented on #689
@astaykov apologies for delay in responding to this I'm following up with the team to get an update.

[2022-02-02 06:17] davidspooner commented on #567
Hi @shaunsat, Can you provide some more details on what is not working for you with the userRiskLevel.  I have been testing this and it appears to function as expected.  Here is an example I used to test. Can you test and provide the output of the error?

$conditions = New-Object -TypeName Microsoft.Open.MSGraph.Model.ConditionalAccessConditionSet
$conditions.Applications = New-Object -TypeName Mi

[2022-02-03 09:15] msewaweru commented on #760
Hello @billti thanks for highlighting this issues. We are already working on updating the deprecation content. I will also add a note on the overview page to highlight that Azure AD PowerShell does not work with PowerShell 7.

<html>
<body>

ID | Work Item Type | Title | Assigned To | State | Tags
-- | -- | -- | -- | -- | --
1754771 | Product Backlog Item | Issue: Update the overview page to highl

[2022-02-03 10:35] shaunsat commented on #567
Hi @davidspooner,

I did post this a year ago so maybe something got updated?

Maybe try this (you will have to add your variables):

$conditions = New-Object -TypeName Microsoft.Open.MSGraph.Model.ConditionalAccessConditionSet
$conditions.Applications = New-Object -TypeName Microsoft.Open.MSGraph.Model.ConditionalAccessApplicationCondition
$conditions.Applications.IncludeApplications = "All"
$con

[2022-02-03 11:35] psignoret commented on #766
First, I _strongly_ encourage you to use [Microsoft Graph PowerShell](https://docs.microsoft.com/graph/powershell/get-started), where this type of issue is addressed.

Second, you are correct: the API that these cmdlets call has a peculiar behavior which is dependent on whether the module is connected using a Microsoft-owned app registration (e.g. the default identity for Azure AD PowerShell), or

[2022-02-03 11:35] #766 closed

[2022-02-03 18:21] msewaweru commented on #580
Thanks @E-W-B for highlighting this issue. This is now fixed.

[2022-02-03 18:21] #580 closed

[2022-02-03 18:41] msewaweru commented on #689
Hi @astaykov , a sample output has been added as part of the example.

Proceeding to close this issue.

[2022-02-03 18:41] #689 closed

[2022-02-07 09:40] lightupdifire opened #774 "Get-AzureADApplicationProxyApplication"
Hello,
When running this PS "Get-AzureADApplicationProxyApplication -ObjectId $item.objectid":

https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0/AzureAD/Get-AzureADApplicationProxyApplication.md

Error received:
Get-AzureADApplicationProxyApplication : Error converting value "aadHeaderBased" to type 'System.Nullable`1[Microsoft.Open.MSGraph.Model.OnPremisesPublishingS

[2022-02-08 07:19] SomeoneElseWhoCodes commented on #727
I was running into this issue tonight and after lots of searching I came across this page and a post on spiceworks.

The following works:
Get-AzureADAuditSignInLogs -Filter "UserPrincipalName eq '**user@domain**'" -Top 1 | Select UserPrincipalName,IPAddress,CreatedDateTime

This works too:
Get-AzureADAuditSignInLogs -Top 1 -Filter "startsWith(userPrincipalName ,'**user@domain**')" | Select UserPri

[2022-02-11 10:36] GYOERFT opened #778 "Azure CLI - How to get Service Principal Membership?"
Hello,

is there any Azure CLI Feature similar to "Get-AzureADServicePrincipalMembership" ?

I am collecting permission information of our platform using python and azure-cli-core module and need to get group memberships of service principals.

any idea?

[2022-02-15 12:07] msewaweru commented on #778
Hi @GYOERFT , thanks for your query.

I think it would be easier to get a response on Azure CLI features if you logged this issue in the [Azure CLI repo](https://github.com/Azure/azure-cli/issues).

[2022-02-15 12:07] #778 closed

[2022-02-15 12:09] msewaweru commented on #760
@billti, proceeding to close this issue after the merging of the PR #776. The documentation on migration to Microsoft Graph PowerShell is work in progress. Be on the look for the same.

[2022-02-15 12:09] #760 closed

[2022-02-15 12:16] msewaweru commented on #774
Hello @lightupdifire , thanks for your query.

Could you share the definition you used for the variable **$item**. There is seems to be a problem with the data type conversion.

You could also try running this as:

`Get-AzureADApplicationProxyApplication -ObjectId $ObjectId`

by replacing $ObjectId with the ObjectId of your application. Let me know how that goes.

[2022-02-15 12:18] msewaweru commented on #755
Proceeding to close this issue after [the PR](https://github.com/Azure/azure-docs-powershell-azuread/pull/754) was merged.

[2022-02-15 12:18] #755 closed

[2022-02-15 12:23] msewaweru commented on #759
Hi @Tiberriver256 , this platform is used to highlight doc issues with the Azure AD PowerShell modules including MSOL cmdlets.

We are currently encouraging our customers to migrate to [the Microsoft Graph PowerShell](https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview?view=graph-powershell-1.0) which is where most efforts are focused. If you have a specific feature that you would

[2022-02-15 12:23] #759 closed

[2022-02-15 12:25] msewaweru commented on #743
@tp-matt-wiese. proceeding to close this issue.

Feel free to reopen it with any follow up feedback based on my earlier response. Thanks.

[2022-02-15 12:25] #743 closed

[2022-02-15 12:26] msewaweru commented on #745
Hello @uttampcu, proceeding to close this issue. Feel free to reopen it with any follow up feedback based on my earlier response. Thanks.

[2022-02-15 12:26] #745 closed

[2022-02-15 15:27] tp-matt-wiese commented on #743
sorry @msewaweru this is still an issue
Please see the screenshot below

<img width="1618" alt="image" src="https://user-images.githubusercontent.com/94641090/154093386-4792f0c8-2047-4234-aaee-6764fb9ceb85.png">

[2022-02-15 17:36] msewaweru commented on #743
@tp-matt-wiese , sorry about that. I must have missed some info you provided earlier. I see you are running PowerShell 7. Azure AD PowerShell is not compatible with PowerShell 7. Please use PowerShell 5.1.

[2022-02-16 08:13] lightupdifire commented on #774
@msewaweru
Thanks for the feedback! I think I got this as well, have to give it like a bigger object :)
I try to find all on-prem apps and add a new cert as our thumbprint changed... below code worked, maybe can add a second article to replace the wildcard if the thumbprint is different.

`Write-Host "Reading Azure AD applications. This operation might take longer..." -BackgroundColor "Black" -For

[2022-02-16 08:13] #774 closed

[2022-02-16 19:39] fabnord commented on #688
@msewaweru @Justinha any update on this one? Customer is waiting for a doc fix on this.

[2022-02-17 13:44] msewaweru commented on #688
Hello @fabnord, I will create doc update PR to add an example for this cmdlet. To answer part of question the valid values for `PreferredAuthenticationProtocol` are `WsFed` and `Samlp`.

[2022-02-18 17:20] PhrygianMode commented on #755
Hi msewaweru, I appreciate the response.  I used the filter command you proposed and it seems to be working without problems.  I appreciate it!

[2022-02-21 16:23] magic-happenz opened #782 "Remove-AzureADServiceAppRoleAssignment is not working as expected / is still using old API"
Hello,

trying to use this cmdlet I noticed that it isn´t doing what it´s supposed to in our environment. Instead of removing the service app role assignment, it just removes the granted consent, the permission however remains on the app and users that have permission for example can still give new consent. Is this intended? And if yes, what is the correct command to remove the app role assignment

[2022-02-22 12:16] msewaweru commented on #782
Hello @magichappens89 , this cmdlet removes the assignment of a certain app role from either a user, group or service principal. The role itself remains defined on the resource but the assignment to either a user, group or service principal is removed and you reassign it afresh. Let me know if this is what you also want to remove.

You are right. This cmdlet still calls the Azure AD Graph endpoint

[2022-02-22 12:54] magichappens89 commented on #782
Hello @msewaweru ,

I think it actually manages service principal assignment. For the assignment of users and groups there are other cmdlets. What I want is that the app permissions assignment is removed (as indicated by the cmdlet name). However it just removes admin consent if there was any.
![image](https://user-images.githubusercontent.com/63111919/155135948-ea764b5a-a0a9-47fc-b0e5-8b650c3be34

[2022-02-22 14:27] msewaweru commented on #782
@psignoret , could you help with this query.

@magichappens89 , there could be an extension for users to continue using Azure AD PowerShell for sometime and this communication will be going out to you as soon as it is finalized.

[2022-02-22 15:47] magichappens89 commented on #782
@msewaweru, there could? Any ETA when this communication will be finalized? I am a bit confused. I mean the Azure AD PowerShell was "the" module to administer Azure AD with PowerShell. A lot of the commands stop working in 4 months because of the end of life I guess. And there is still yet no communication or whatsoever how to migrate etc?

[2022-02-22 16:58] msewaweru commented on #782
@magichappens89, the ETA for his communication should be March and that will be to say that the cmdlets will not stop working in 4 months. The plan is to give customers more time to migrate by providing the migration tools and guidance to Microsoft Graph PowerShell.

[2022-02-22 19:58] magichappens89 commented on #782
@msewaweru but how the modules that use Azure AD graph can still work after the API will be end of life?

[2022-02-23 15:29] psignoret commented on #782
@magichappens89

*Regarding the API*:

I suggest you consider the API used by this module to be mostly an implementation detail. If Microsoft says the module is still supported, then it doesn't really matter if the API the module relies on is supported for use by your own applications. That said, you [_should_](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/automate-and-man

[2022-02-23 15:50] psignoret commented on #727
You can't embed a variable's property directly into the string like you're trying to do there.

If you want to include a variable's property in a string, you need to surround the full name with `$()` (my preference):

[code]
[code]

Or use string concatenation:

[code]
[code]

Or you use a format string with `-f`:

[code]
[code]

Or with `[String]::Format()`:

[code]
[code]

[2022-02-23 16:18] magichappens89 commented on #782
@psignoret thank you for that detailed answer. That confirms the workaround I assumed working as well. I was just trying to find a command to remove the application permission without changing the required resource access object and `Remove-AzureADServiceAppRoleAssignment` cmdlet seemed the right choice for me. However, running this only removes the admin consent granted for that assignment.
Befor

[2022-02-23 16:36] magichappens89 commented on #782
@psignoret I just tried out the Microsoft Graph PowerShell commands you provided. Remove all Microsoft Graph app role assignments granted to this app works for me. Although I found "assignments" in this context confusing as the assignments are the actual permissions for me in this context.
`Set-MgApplication` did not work as there is no cmdlet with that name. Also tried it with `Update-MgApplicati

[2022-02-25 07:46] wenjun001 commented on #782
unsubscribe

On Tue, Feb 22, 2022 at 4:21 AM Eunice Waweru ***@***.***>
wrote:

[2022-02-28 14:56] Samix13 opened #784 "AzureADPreview Powershell module command Set-AzureADMSPrivilegedRoleSetting not working when executed using a service principal from a Devops Pipeline"
Running the following Powershell commands as an inline Powershell script from a Devops pipeline:

Install-Module AzureADPreview -Force
$token = Get-AzAccessToken -ResourceTypeName AadGraph
Connect-AzureAD -TenantId $token.TenantId -AadAccessToken $token.Token -AccountId $token.UserId -AzureEnvironmentName ((Get-AzContext).Environment).Name
$setting = New-Object Microsoft.Open.MSGraph.Model.AzureAD

[2022-03-01 23:18] davidspooner commented on #567
@shaunsat Thank for the example.  I was able to test what you supplied and was not able to generate any errors.  The policy was created successfully, and the risk condition was set as expected.  I agree with you, it is possible that the issue was resolved previously and therefore is no longer an issue.  I will close out this thread but please don't hesitate to reach out to me directly if you find

[2022-03-01 23:18] #567 closed

[2022-03-02 21:21] davidspooner commented on #617
@emekm Hi, I have bene able to repo the behaviour and as such have filed a bug for this issue with the Engineering team.  Once i hear back on the behaviour and a fix, i will reach out and provide an update. Many thanks for raising the issue.

[2022-03-07 08:47] msewaweru commented on #782
@Jackson-Woods , are you able to help with this query?

[2022-03-07 12:32] wiseleaf23 opened #787 ""contractType" does not display correctly in Get-AzureADContract.md"
In https://github.com/Azure/azure-docs-powershell-azuread/blob/main/azureadps-2.0/AzureAD/Get-AzureADContract.md, "contractType" does not seem to be displayed correctly; it's not part of the bulleted list:

[2022-03-07 18:46] davidspooner commented on #609
Engineering are working on the updates for this which will include updates the API, PowerShell etc. including updated documentation to address this behavior.  This should be released in the coming weeks. Closing this thread but please reach out if you have any questions.

[2022-03-07 18:46] #609 closed

[2022-03-07 18:54] davidspooner commented on #659
Hi @DFryatt , I have not been reproduce the above error.  If this is still an issue for you, please provide additional details. I will temporarily archive this request, but please feel free to contact me and we can reopen if it is still an issue. Thanks

[2022-03-07 18:54] #659 closed

[2022-03-08 17:26] #617 closed

[2022-03-09 09:32] pszypowicz opened #789 "AzureAD module does not support arm64 architecture"
Currently the AzureAD module support only AMD64 architecture.

On apple silicone M1 mac, i'm getting this message:

[code]

When running via rosseta2:
[code]

This should be at least reflected in the docs. Could you please point out to a proper bug tracker for the AzureAD Powershell module? Is there a reason why it is not available in the Github as public repository?

[2022-03-09 16:51] nimchak opened #790 "Problem installing AzureADPreview Module"
I have now tried this on two different systems with the same result.

Actions I have taken to resolve the issue:
-Tried installing on multiple PS versions: Powershell V5.1.22000.282 ;  V5.1.19841.1320 ; V7.2.1
-Tried updating Powershellget to V1.0.0.1 to 2.2.5
-Tried on Windows 10 and windows 11
-Tried using -force with the install

Error during install:
PS C:\WINDOWS\system32> Install-Module -Nam

[2022-03-09 17:07] nimchak commented on #790
I believe I have figured this out.  I had to first uninstall the standard AzureAD Module to be able to install AzureADPreview.  They do not play well together.

What I did:
remove-module AzureAD
Restarted Powershell
Uninstall-Module AzureAD

I was then able to install-Module AzureADPReview

[2022-03-10 14:05] wUEZRs opened #792 "Remove-AzureADApplicationProxyApplication does not work"
The syntax described in https://docs.microsoft.com/en-us/powershell/module/azuread/remove-azureadapplicationproxyapplication?view=azureadps-2.0 does not work - a Google search finds similar errors. Is it up to speed?

Remove-AzureADApplicationProxyApplication : Error occurred while executing SetApplicationProxyApplication
Code: Application_NotFound

[2022-03-15 23:32] davidspooner commented on #750
Hi @Palasito, Thanks for your patience on this. The developer has been looking into the bug I opened and reviewed the code and we can confirm the current behaviour is a result of the configuration of the policy before you apply the include or exclude groups.

In your example above, the original policy assignment for users was set to none. With PowerShell there currently is no logic that if you inc

[2022-03-15 23:32] #750 closed

[2022-03-17 08:07] #688 closed

[2022-03-17 08:13] msewaweru commented on #790
Hello @nimchak, thanks for highlighting the issue and I'm glad you have been able to fix it. On this article, [Install Azure AD PowerShell](https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0), we recommend not to install both the Preview and GA version on the same computer. Thanks.

[2022-03-17 08:13] #790 closed

[2022-03-17 08:19] msewaweru commented on #789
@kimaniderrick, could you advise on this issue.

[2022-03-21 11:28] msewaweru commented on #787
Hello @adimitui, could please assist with reviewing this issue and advising the customer? Thanks.

[2022-03-25 12:00] DeanGross commented on #245
This should not be closed, the problem still exists. How can a module that has been in production for so long still be sorry poorly implemented? What is going on?

[2022-03-30 01:42] sarahtindal commented on #749
I have the same issue. Unable to use Powershell to list the containers on a storage account with shared key access disabled. The PowerShell cmdlet is Get-AzStorageContainer.

Error:
Get-AzStorageContainer: Key based authentication is not permitted on this storage account.
Status: 403 (Key based authentication is not permitted on this storage account.)
ErrorCode: KeyBasedAuthenticationNotPermitted

[2022-03-30 09:21] AvePoint-JasonJiang opened #798 "Vulnerability for Azure AD Powershell Module that references the RestSharp.dll (105.2.3 version)"
Our product references the Azure AD PowerShell, and the newest Azure AD module references the RestSharp.dll (105.2.3 version). And this version of RestsSharp has a vulnerability reported by security scanning.
To fix this vulnerability, it needs to upgrade the RestSharp.dll referenced in Azure AD module to 106.11.7 and above. Does MSFT team have plan to fix it and what is the timeline?

https://nvd

[2022-03-31 01:56] qquiuc opened #799 "Vulnerability for Azure AD Powershell Module that references the RestSharp.dll (105.2.3 version)"
Our product references the Azure AD PowerShell, and the newest Azure AD module references the RestSharp.dll (105.2.3 version). And this version of RestsSharp has a vulnerability reported by security scanning.
To fix this vulnerability, it needs to upgrade the RestSharp.dll referenced in Azure AD module to 106.11.7 and above. Does MSFT team have plan to fix it and what is the timeline?

https://nvd

[2022-04-07 14:08] msewaweru commented on #799
Thank you for your issue submission. Unfortunately, this appears to be a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.
Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

I would als

[2022-04-07 14:08] #799 closed

[2022-04-18 15:05] telnet25 opened #807 "New-AzureADMSNamedLocationPolicy errors out when you include Kosovo (XK)"
Creating any new policy using New-AzureADMSNamedLocationPolicy where if the parameter  "-CountriesAndRegions" has Kosovo included, powershell throws an error where it says it 'cannot convert value "XK" to type
"Microsoft.Open.MSGraph.Model.CountriesAndRegion". Error: "Unable to match the identifier name XK to a valid
enumerator name. Specify one of the following enumerator names and try again'.

!

[2022-04-20 15:35] msewaweru commented on #792
Hello @wUEZRs, thanks for raising this issue and I do apologize for the delay in responding to it. I'm working on getting the right contact to help in resolving this issue and will get back to you. Thanks.

[2022-04-21 10:31] msewaweru commented on #807
Hello @telnet25 for highlighting this issue. I will gather more info on this issue and get back to you on it.

[2022-04-24 21:39] byteben opened #812 "Error converting value "linux" to type when using Get-AzureADMSConditionalAccessPolicy"
Using cmdlet Get-AzureADMSConditionalAccessPolicy results in an error if the Conditional Access policy includes "linux" in the Device Platform filter.

Get-AzureADMSConditionalAccessPolicy : Error converting value "linux" to type
'Microsoft.Open.MSGraph.Model.ConditionalAccessDevicePlatforms'. Path
'value[10].conditions.platforms.excludePlatforms[4]'

[2022-04-25 15:00] msewaweru commented on #812
Hello @byteben and thank you for raising this issue. Please allow me to get the right person that can help with this. Thanks.

[2022-04-29 12:06] kabukimurder commented on #626
Will this ever be fixed? It's a small issue that is preventing activation of Privileged Identity Management-roles via the powershell module almost entirely.

[2022-04-30 11:20] DEberhardt commented on #626
Have not yet checked out the Graph equivalent for this cmdlet, but will do so in the coming months...

It looks like it isn't available [there ](https://github.com/microsoftgraph/microsoft-graph-docs/blob/main/api-reference/beta/api/governanceroleassignmentrequest-post.md)either though.

[2022-05-06 09:51] msewaweru commented on #807
Hi @davidspooner, is this something you can help with?

[2022-05-06 10:05] msewaweru commented on #782
@magic-happenz, please see the latest updates on the deprecations plans [here](https://docs.microsoft.com/en-us/powershell/azure/active-directory/overview?view=azureadps-2.0).

[2022-05-09 15:11] tsceif commented on #812
I'm also having the same issue.

[2022-05-10 07:06] thecmdradama opened #821 "New-AzureADMSGroup no parameter for IsAssignableToRole"
Hi guys,

When running the cmdlet New-AzureADMSGroup with parameter IsAssignableToRole I get this error:
`New-AzureADMSGroup: A parameter cannot be found that matches parameter name 'IsAssignableToRole'.`

This is with version 2.0.2.140 of the AzureAD module.

[2022-05-10 10:15] msewaweru commented on #821
Thanks, @thecmdradama for highlighting this.

Please note that the -IsAssignableToRole parameter is only available in the Azure AD Preview version and not on the Azure AD module. Please retry using this version. Thanks.

[2022-05-10 14:44] PeterDeThier-MSFT commented on #812
I am running into this as well...

With Linux checked in a CA policy the Get-AzureADMSConditionalAccessPolicy command fails:

![image](https://user-images.githubusercontent.com/104528648/167655879-af40b420-a28c-47c7-84be-7ec5de2be5e2.png)

![image](https://user-images.githubusercontent.com/104528648/167655787-a3b5ab94-7410-4e53-b2e2-892d4fe38f7f.png)

With Linux unchecked in the CA policy it succe

[2022-05-10 15:53] #821 closed

[2022-05-10 18:20] MWPatterson2000 commented on #812
Watching this as I am having same issue

[2022-05-13 11:28] byteben commented on #812
Thanks @davidspooner for picking this up

[2022-05-13 19:40] mateuszdrab commented on #200
@githubarpyka
Hi Arpad, do you have any updates on this? Could you point me to the work item?
Thanks

[2022-05-13 19:40] #200 closed

[2022-05-13 20:53] davidspooner commented on #812
Thanks everyone for the interest in Conditional Access PowerShell and raising the issue.  Due to the planned deprecation of PowerShell modules (MSOL & AAD) after December 2022, no further updates are planned for these modules to support new Conditional Access features. See recent announcements for more information: https://aka.ms/AzureADPowerShellDeprecation. As a result of this, newer Conditional

[2022-05-15 13:39] rsegers commented on #200
@mateuszdrab Would you mind explaining this solution and required permissions? I haven't tried this, but I am sceptical about how this would work. The RunAs account is simply an app registration, e.g. service principal. If that works, than a reverse engineer to the correct token should be possible.

[2022-05-15 18:07] mateuszdrab commented on #200
Perhaps it works because I used a SP with a secret (not a certificate)?

[2022-05-16 11:35] #812 closed

[2022-05-17 03:15] simonxin commented on #630
In case, MSGraph SDK can works well in Azure China.
for example, New-MgRoleManagementDirectoryRoleAssignmentScheduleRequest is using /beta/roleManagement/directory/roleAssignmentScheduleRequests which is working well in host https://microsoftgraph.chinacloudapi.cn/.
AzureADpreview is using endpoint /beta/privilegedAccess/aadRoles/roleAssignmentRequests which seems not available in host https://mic

[2022-05-17 22:30] rbarbrow opened #823 "Get-AzureADUserThumbnailPhoto fails to return information for some users who have a photo icon in azure AD webportal"
Get-AzureADUserThumbnailPhoto fails to return information for some users who have a photo icon in azure AD web portal

[2022-05-23 15:18] msewaweru commented on #823
Hello @rbarbrow, thanks for raising this issue. I will be working to find out more information about it and get back to you.

[2022-05-31 19:25] githubarpyka commented on #792
@wUEZRs The cmdlet works, but the probability is high that the specified objectid is incorrect. That's why the error: Application_NotFound. You can find the correct objectid under App Registration (and not Enterprise Apps).

[2022-06-02 15:46] githubarpyka commented on #792
Thank you for your feedback. I'm happy to hear that it worked. I'm going to update the article.

[2022-06-06 09:47] msewaweru commented on #823
Hi @rbarbrow, thank you for your issue submission. Unfortunately, this appears to be a problem with the cmdlt and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverf

[2022-06-06 09:47] #823 closed

[2022-06-07 11:58] lucahost opened #825 "New-AzureADApplicationExtensionProperty Error occurred while executing"
Not sure where I can report issues like this.

The cmdlet ```New-AzureADApplicationExtensionProperty``` does not work if ```-TargetObjects``` is set to ```@("User", "Group")```

The graph request does work using the same name, dataType and targetObjects tho.

Could you maybe redirect this to the AzureAD PowerShell Team?

[2022-06-09 15:07] DevanshuSyk opened #827 "Incorrect ADObject reference"
# Give the Service Principal Reader access to the current tenant (Get-AzureADDirectoryRole)
Add-AzureADDirectoryRoleMember -ObjectId **5997d714-c3b5-4d5b-9973-ec2f38fd49d5** -RefObjectId $sp.ObjectId

**The object dosent exsist**

#Error
get-AzureADDirectoryRole : Error occurred while executing GetDirectoryRole
Code: Request_ResourceNotFound
Message: Resource '5997d714-c3b5-4d5b-9973-ec2f38fd49d5'

[2022-06-13 08:38] msewaweru commented on #807
Hello @telnet25, thanks for highlighting this issue and apologies for the delayed response. I would like to confirm that we were able to reproduce this issue which is a result of a required update in the Azure AD PowerShell module. However all the PowerShell efforts are currently invested in the Microsoft Graph PowerShell module. I have tested that I'm able to accomplish the tasks you mentioned ab

[2022-06-13 08:38] #807 closed

[2022-06-13 14:58] msewaweru commented on #827
Hello @DevanshuSyk , thanks for highlighting this issue. Kindly confirm that you have used the Object Id of the service principal and not the app Id.
![image](https://user-images.githubusercontent.com/73849846/173382984-3af902f4-a714-4b13-a4c1-3af56d803984.png)

[2022-06-13 22:55] DevanshuSyk opened #828 "Setting for notifications"
Hello is there a setting for customizing the  role notification setting in
[Set-AzureADMSPrivilegedRoleSetting (AzureADPreview)] .None of the parameter talk about updating notification setting

[2022-06-13 23:09] DevanshuSyk commented on #827
Add-AzureADDirectoryRoleMember -ObjectId 5997d714-c3b5-4d5b-9973-ec2f38fd49d5 -RefObjectId $sp.ObjectId\

[2022-06-13 23:09] #827 closed

[2022-06-15 07:40] florian-obradovic commented on #789
Same here - is there any ETA for apple silicon?

[2022-06-15 07:48] pszypowicz commented on #789
I just want to share, there is a official microsoft powershell module for interacting with microsoft graph, which is already compiled for arm64 Darwin: https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview?view=graph-powershell-1.0

Very useful resource is a cmdlet map, which shows the old and related new cmdlet: https://docs.microsoft.com/en-us/powershell/microsoftgraph/azuread-msol

[2022-06-15 09:56] pszypowicz commented on #789
That's why the cmdlet map I shared above is so important, you need to look each command and see if there is an equivalent.

[2022-06-15 10:46] florian-obradovic commented on #789
ah, thanks mate !

[2022-06-17 22:18] TadaoMachida opened #830 "azureadps-2.0-preview/AzureAD/Get-AzureADMSUser.md - Example 1 does not work"
azureadps-2.0-preview/AzureAD/Get-AzureADMSUser.md
### Example 1
[code]
Get a user by user principal name.

The command example above fails with "Get-AzureADMSUser : A parameter cannot be found that matches parameter name 'UserPrincipalName'".

[2022-06-20 15:13] msewaweru commented on #830
Hi @TadaoMachida, thanks for highlighting this issue. I have been able to reproduce this issue and I have created a work item to track it's resolution.

<html>
<body>

ID | Work Item Type | Title | Assigned To | State | Tags
-- | -- | -- | -- | -- | --
1949904 | Product Backlog Item | Issue: Correct example 1 in azureadps-2.0-preview/AzureAD/Get-AzureADMSUser.md | Eunice Waweru | New |  

</body>

[2022-06-20 15:13] #830 closed

[2022-06-23 07:26] bharti-semwal opened #833 "Remove-AzureADOAuth2PermissionGrant example not working for Enterprise application"
Hi Team,

I am trying to reduce graph scope for one of the enterprise application using below reference link:-
https://docs.microsoft.com/en-us/powershell/module/azuread/remove-azureadoauth2permissiongrant?view=azureadps-2.0

But it is not working for me.

Sample code Snippet
$ShareGateTool= Get-AzureADServicePrincipal | Where-Object {$_.DisplayName -eq "ShareGate migration tool 2.0"}
$ShareGateTo

[2022-06-24 15:40] adispoerri opened #834 "AzureADPreview Powershell module command Get-AzureADMSNamedLocationPolicy not working when executed from a Devops Pipeline"
Using following part

    Connect-AzAccount -Credential $cliCreds -TenantId $TenantID
    Connect-AzureAD -Credential $cliCreds -TenantId $TenantID
    Write-Host "connected to AAD successfully"
    Write-Host ""

    Write-Output "Start DEBUG"
    Get-AzureADMSNamedLocationPolicy
    Write-Output "DEBUG End"

![Output](https://user-images.githubusercontent.com/52703082/175569701-ed30b7f2-d603-49c

[2022-06-27 19:26] msewaweru commented on #833
Hello @bharti-semwal. Thank you for highlighting this issue. I will review this on my end to reproduce and we can pick up from there. Thanks.

[2022-06-27 19:27] msewaweru commented on #834
Hello @adispoerri, thanks for highlighting this issue. I will work to reproduce this on my end and will get back to you on the way forward.

[2022-06-29 13:27] grimstoner opened #836 "New-AzureADPrivilegedRoleAssignment fails with BadGateway"
I have a PIM-enabled AzureAD group.

When trying to assign this to a user using `New-AzureADPrivilegedRoleAssignment`, it fails with an **UnknownError**:

[code]

[2022-06-30 19:31] peternwilliams opened #837 "What role needed for connect-azureAD with CBA? sample code fails"
https://github.com/Azure/azure-docs-powershell-azuread/blob/main/azureadps-2.0/AzureAD/Connect-AzureAD.md has sample code to configure Connect-AzureAD. I don't have a role with the objectID of 5997d714-c3b5-4d5b-9973-ec2f38fd49d5.  I chenaged to 107859fd-2ca6-4bd9-ade9-16357947f802 (Directory Writers) and am functional.

Running the following line generates an error:
Add-AzureADDirectoryRoleMember

[2022-07-07 01:59] jordanmills commented on #807
Last I checked, there was no way to do this through Graph.  How were you able to accomplish that task?

[2022-07-11 16:52] bmkaiser opened #841 "Version History Outdated - Missing Preview Version 2.0.2.149"
The current version history page doesn't include what changes were a part of Azure AD Preview version 2.0.2.149 even though it was released 5 months ago.

![image](https://user-images.githubusercontent.com/5446414/178316664-530b368b-73ef-46a6-8178-6fc28b451faf.png)

![image](https://user-images.githubusercontent.com/5446414/178316577-4dbd30a9-e786-4c31-a237-0388c918f555.png)

[2022-07-13 18:05] bmilbauer commented on #628
Stop ignoring this pls - this will have real-world consequences for investigation of security incidents and conditional access gaps.

[2022-07-13 21:24] ChrisTav424 commented on #628
This is an embarrassment, 12 months to update some documentation or fix the problem.

Unfortunately seems to be classic Microsoft I've actually come to expect now...

[2022-07-18 19:15] sureshja commented on #569
@jeevanbalanmanoj - The `Set-AzureADApplication` calls Azure AD Graph API which can only support applications that sign in organizational users. To update apps that sign in organizational users and also personal Microsoft accounts, you need to call `Set-AzureADMSApplication`

[2022-07-19 06:58] msewaweru commented on #841
Hello @bmkaiser, thanks for highlighting this issue. I've initiated a process to get the information required to update this page. I have also created a work item to track this task. Proceeding to close this issue and will update once the work item is updated. Thanks.

<html>
<body>

ID | Work Item Type | Title | Assigned To | State | Tags
-- | -- | -- | -- | -- | --
1988838 | Product Backlog Item

[2022-07-19 06:58] #841 closed

[2022-07-19 07:10] msewaweru commented on #836
Hi @grimstoner, thanks for highlighting this issue and apologies for the delayed response.

@rkarim-ms, I have been able to reproduce this issue on my end and would appreciate your help to understanding the cause and remedy. Thanks.

[2022-07-19 07:13] msewaweru commented on #834
@lstallman, assigning this to you for your advice on what the issue could be here.

[2022-07-19 07:53] msewaweru commented on #833
Hi @bharti-semwal, I have been able to look into this issue on my end. Kindly confirm for me which of the 3 queries fails.

I noticed that the first query could fail to return the particular Service principal you are looking for and I needed to add the -All parameter.

[code]

Please let me know which part fails, as I was able to run all 3 successfully. Thanks.

[2022-07-22 09:03] msewaweru commented on #569
@jeevanbalanmanoj, proceeding to close this issue. Feel free to reopen it with further queries on this issue.

[2022-07-22 20:10] lstallman commented on #834
@adispoerri Thank you for sharing this information.  When you say "the same code connected with the same Account runs fine on local Session" can you describe what you mean by local session?  Also to confirm, the issue occurs when you are running the same script via Azure DevOps pipeline?

My hunch is that even though you are providing the connection credentials in the script, you might need to all

[2022-07-26 09:09] nikolai-bravo commented on #166
As of July 2022, trying to set a field to $null still does not do anything. No error, but doesn't change the content of the field either. Attempting to set the field to "" still throws an error as well.

[2022-07-28 16:09] Martin-Day opened #846 "Get-AzureADMSConditionalAccessPolicy fails if Linux is specified as an included or excluded platform in the Device Platforms Conditions in any Conditional Access Policy"
When running Get-AzureADMSConditionalAccessPolicy, an error is shown if any conditional access policies have a device platform condition set that includes or excludes Linux as a platform.

Conditional Access Policy Config:
![image](https://user-images.githubusercontent.com/53221043/181585450-6688e1c4-6ef3-48da-969b-3a54388d49d6.png)

Error Message:
![image](https://user-images.githubusercontent.co

[2022-08-01 15:56] msewaweru commented on #834
Hello @adispoerri, checking if you have been able to look through the previous comment.

Check out [this post](https://blog.hompus.nl/2020/11/11/manage-azure-ad-applications-from-an-azure-devops-pipeline/#:~:text=%20Manage%20Azure%20AD%20applications%20from%20an%20Azure,Attempts%20with%20assigning%20administrator%20roles%20to...%20More) as well if you are still stuck.

Proceeding to close this iss

[2022-08-01 15:56] #834 closed

[2022-08-01 16:01] msewaweru commented on #846
Hello @Martin-Day - Thanks for raising the issue. Due to the planned deprecation of PowerShell modules (MSOnline & Azure AD), no further updates are planned for these modules to support new Conditional Access features. See recent announcements for more information [here](https://aka.ms/AzureADPowerShellDeprecation). As a result of this, newer Conditional Access features may not be available or may

[2022-08-01 16:01] #846 closed

[2022-08-01 16:31] msewaweru commented on #833
Hello @bharti-semwal, I will proceed to close this issue as there hasn't been a response since my last comment. Please feel free to reopen this issue if you are still experiencing issues or for follow up feedback.

[2022-08-01 16:47] msewaweru commented on #724
Hello @venkateshtarra, checking if you saw the previous comment.

I will proceed to close this issue. Feel free to reopen it if the issue persists or if you have any follow up feedback.

[2022-08-01 16:47] #724 closed

[2022-08-02 07:30] me1299 commented on #166
Since a few weeks using https://github.com/Azure/azure-docs-powershell-azuread/issues/166#issuecomment-824465935 results in an Internal Server Error.

[code]

[2022-08-02 13:38] DevanshuSyk commented on #828
no one has any idea?

[2022-08-04 15:00] olam-MCA commented on #114
Same issue for me ...

[2022-08-06 04:09] tony8382 commented on #114
@olam-MCA  Update to the latest version for the AzureAD Module and try again. 😀

[2022-08-16 14:04] Get-SomeCofee opened #849 "Get-AzureADUser OnPremisesUserPrincipalName"
Get-AzureADUser does not retrieve all properties listed on the web interface.  Please update the module to retrieve all properties.

Also update Set-AzureADUser as well.

OnPremisesUserPrincipalName
OnPremisesDistinguishedName
OnPremisesSamAccountName

[2022-08-19 16:48] gnsharans opened #851 "New-AzureADApplicationPasswordCredential 'Client-Secret-key provided is not working. But doing same with portal is working'"
Client Secret created by this command
$appSecret = New-AzureADApplicationPasswordCredential -CustomKeyIdentifier PrimarySecret -ObjectId $app.ObjectId

gives error.

 Authentication failed: AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app 'xxxx'

I have provided client secret f

[2022-08-22 12:17] msewaweru commented on #849
Hello @Get-SomeCofee, thanks for highlighting this issue. Do you mean return these properties by default.
You can select the properties you want returned by the cmdlet by running:
`
Get-AzureADUSer -objectId $UserId | Select onPremisesSamAccountName,onPremisesDistinguishedName,onPremisesDomainName`

Let me know if this answers your query.

[2022-08-22 12:19] msewaweru commented on #851
Thanks @gnsharans for highlighting this issue.

@madansr7 , is this something you can help with?

[2022-08-22 13:57] Get-SomeCofee commented on #849
Hello,
This suggested command doesn't work.  Returns blank properties.

onPremisesSamAccountName onPremisesDistinguishedName onPremisesDomainName
------------------------ --------------------------- --------------------

[2022-08-23 01:42] rkarim-ms commented on #784
Thank you for reaching out and for your patience with the delayed response. If you are still receiving the error, we would like to request additional details to further investigate the issue, specifically a **correlation ID**. Adding @amanswaika.

We will keep you updated here as we continue to troubleshoot.

On a separate note, we have also released a new PowerShell module for PIM for Azure resou

[2022-08-23 02:18] rkarim-ms commented on #836
Hi @grimstoner, thank you again for reaching out and for your patience here.

To confirm our understanding of this scenario, if trying to assign the user to a group using PIM, we don't currently offer any API support for PIM privileged access groups. (background on privileged access groups can be found here: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/gro

[2022-08-24 07:41] msewaweru commented on #789
@kimhubgit, is this something you can comment on?

[2022-08-30 21:33] madansr7 commented on #851
@gnsharans can you share more information. What PowerShell module are you using? Have you tried the same in Azure CLI.
I tried to repro the steps at my end and I get no errors.

[2022-08-31 17:38] Ostars-eye opened #854 "### Type of Connector"
Source
### Type of Connector

Custom Connector

### Name of Connector

Core

### Describe the bug

hash = Darkcode

### Is this a security bug?

Yes, this is a security bug

### What is the severity of this bug?

Severity 2 - One or more important connector features are down

### To Reproduce

search

### Expected behavior

[https://caminhodoguerreiro.com/3caaN4g](url)

### Environment summary

In

[2022-09-01 21:02] Mike-Crowley commented on #849
Those are extension properties. They are nested in the `extensionproperty` attribute. You can see them like:

`Get-AzureADUser -ObjectId user1@example.com | Select-Object -ExpandProperty extensionproperty | Format-Table`

[2022-09-02 13:44] Get-SomeCofee commented on #849
@Mike-Crowley Thanks for the suggestion
`Get-AzureADUser -ObjectId user1@example.com | Select-Object -ExpandProperty extensionproperty`

this command does return the onPremisesDistinguishedName property.
It does not OnPremisesUserPrincipalName or OnPremisesSamAccountName

[2022-09-02 18:22] SuryenduB opened #855 "Get-AzureADMSConditionalAccessPolicy : Error converting value "linux" to type"
Get-AzureADMSConditionalAccessPolicy
Get-AzureADMSConditionalAccessPolicy : Error converting value "linux" to type
'Microsoft.Open.MSGraph.Model.ConditionalAccessDevicePlatforms'. Path 'value[1].conditions.platforms.excludePlatforms[3]', line
1, position 2270.
At line:1 char:1
+ Get-AzureADMSConditionalAccessPolicy
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified:

[2022-09-05 09:07] msewaweru commented on #854
Hello @Ostars-eye, thanks for logging an issue here. I'm not able to understand what issue you are experiencing. Please clarify.

[2022-09-05 09:13] msewaweru commented on #855
Thanks @SuryenduB for the interest in Conditional Access PowerShell and raising the issue. Due to the planned deprecation of PowerShell modules (MSOL & AAD) after December 2022, no further updates are planned for these modules to support new Conditional Access features. See recent announcements for more information: [Change management](https://aka.ms/AzureADPowerShellDeprecation). As a result of t

[2022-09-05 09:13] #855 closed

[2022-09-05 12:46] msewaweru commented on #849
@mmcla tagging you here to help with this issue. Thanks.

[2022-09-06 16:23] Mike-Crowley commented on #849
@Get-SomeCofee

The Msonline and Azuread powershell modules use "AZURE AD" Graph, not Microsoft Graph. Azure AD Graph doesn't include those other two attributes. You can test here:

https://graphexplorer.azurewebsites.net/#

Note: Azure AD Graph is deprecated, and Microsoft Graph is the current API. But for this, you need to use the Microsoft Graph SDK module.

attributes returned for a user are l

[2022-09-06 20:10] Get-SomeCofee commented on #849
so... Get-AzureADUser is abandoned?  great. thanks.

[2022-09-06 20:50] Mike-Crowley commented on #849
Yes. Here is an article with many of the announcements:

https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/azure-ad-change-management-simplified/ba-p/2967456

here is a relevant excerpt:

[2022-09-07 12:53] gnsharans commented on #851
Hi Team,

From 3 days, the output generated for the secret key is working fine.

Differences observed in output:
1. Clien secret key in earlier days(when I posted this query) ends with
'=', now when I tried to generate multiple secret key this '=' at end is
not observed.

But when the client secret key generated with '=', i had this issue.

After configuring azure cli. As I moved my script from Az

[2022-09-08 08:21] msewaweru commented on #849
Thanks @Mike-Crowley for your help with this issue.

@Get-SomeCofee, thanks also for highlighting the issue. For some introductory info in Microsoft Graph PowerShell, see [Microsoft Graph PowerShell overview](https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview?view=graph-powershell-1.0).

I will proceed to close this issue.

[2022-09-08 08:21] #849 closed

[2022-09-08 08:25] #854 closed

[2022-09-08 08:36] msewaweru commented on #836
Thanks @rkarim-ms for your feedback.

@grimstoner, I would recommend that try this in Microsoft Graph PowerShell as indicated above. Azure AD and Azure AD Preview modules are headed for deprection and all investments are in Microsoft Graph PowerShell. Get started here: [Overview of Microsoft Graph PowerShell](https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview?view=graph-powershell

[2022-09-08 08:36] #836 closed

[2022-09-08 08:47] msewaweru commented on #825
Hello @lucahost, I was able to run this command successfully.

<img width="860" alt="image" src="https://user-images.githubusercontent.com/73849846/189077834-f6edf99c-3b30-4794-8eae-7aa31e7a726b.png">

I would recommend doing this using Microsoft Graph PowerShell which is the replacement for Azure AD and MSOnline module that are due for deprecation. You can start here: [Overview of Microsoft Graph

[2022-09-08 08:47] #825 closed

[2022-09-08 08:53] msewaweru commented on #787
Hello @wiseleaf23, apologies for the delayed response on this.

I recommend that you try running this in Microsoft Graph PowerShell which is the recommended module for use with Azure AD. Azure AD and MSOnline modules are headed for deprecation and all investments are in the Microsoft Graph PowerShell module. Start here: [Overview of Microsoft Graph PowerShell](https://docs.microsoft.com/en-us/powe

[2022-09-08 08:53] #787 closed

[2022-09-08 09:16] #782 closed

[2022-09-08 09:36] msewaweru commented on #571
Hello @hahazeMSFT , apologies for the delayed response on this issue.

Given the time that has passed since you logged the issue, I recommend that you try this in Microsoft Graph PowerShell which is the recommended module for interacting with Azure AD. The Azure AD and Azure Preview modules are headed for deprecation and all investments are in the Microsoft Grah PowerShell module. You can start he

[2022-09-08 09:49] msewaweru commented on #629
Hi @sureshja, assigning this to you to advise on if the requested note addition is appropriate.

[2022-09-08 09:58] msewaweru commented on #627
@rkarim-ms, please review the examples that have been proposed to addition to the cmdlet and advise.

[2022-09-08 10:02] msewaweru commented on #727
Proceeding to close this issue as there is no feedback from the customer.

[2022-09-08 10:02] #727 closed

[2022-09-12 15:02] msewaweru commented on #789
Hi @florian-obradovic apologies for the late response. We are working on following up with the owners of the application proxy cmdlets for a way forward on their migration.

On the ETA for apple silicon, all current investments are on the [Microsoft Graph PowerShell](https://docs.microsoft.com/en-us/powershell/microsoftgraph/overview?view=graph-powershell-1.0) and I recommend that you start to mig

[2022-09-12 15:02] #789 closed

[2022-09-16 20:48] jmeddy commented on #166
I tried a few things for setting a blank ImmutableId value and finally got this one to work. It also avoids the "Set-MsolUser : Uniqueness violation. Property: SourceAnchor." error you would receive if trying to use a space or similar character more than once.

$var = ""
Set-MsolUser -UserPrincipalName user1@contoso.com -ImmutableId $var
Set-MsolUser -UserPrincipalName user2@contoso.com -Immutable

[2022-09-19 13:20] anpiskai opened #858 "Linux device platform type not recognized for Get-AzureADMSConditionalAccessPolicy"
Get-AzureADMSConditionalAccessPolicy returns an error when there are any policies that contain an explicit inclusion or exclusion for the Linux device type. The GUI and Microsoft Graph both work fine, however, the cmdlet does not.

This is the error returned
<img width="1223" alt="image" src="https://user-images.githubusercontent.com/48796638/191026468-a832c02c-e0e3-41d4-9f78-680589f84444.png">

H

[2022-09-21 21:44] mdurini-swisscom opened #861 "Error occurred while executing RemoveMSAdministrativeUnitMember"
I tried to use the command Remove-AzureADMSAdministrativeUnitMember -Id "xx-xx-xx-xx-xx" -MemberId yy-yy-yy-yy-yy and I got this error

Remove-AzureADMSAdministrativeUnitMember : Error occurred while executing RemoveMSAdministrativeUnitMember
Code: Request_ResourceNotFound
Message: Resource 'xx-xx-xx-xx-xx"' does not exist or one of its queried reference-property objects are not present.
InnerErro

[2022-09-26 12:01] msewaweru commented on #858
Thanks @anpiskai  for raising the issue. Due to the planned deprecation of PowerShell modules (MSOL & Azure AD) after December 2022, no further updates are planned for these modules to support new Conditional Access features. See recent announcements for more information: [Change management](https://aka.ms/AzureADPowerShellDeprecation). As a result of this, newer Conditional Access features may no

[2022-09-26 12:01] #858 closed

[2022-09-26 14:23] msewaweru commented on #861
Hi @mdurini-swisscom, I have run this cmdlet successfully.
From the error returned, the administrative unit or the member is not found. To confirm this please run;

`Get-AzureADMSAdministrativeUnit` to get the actual id of the administrative unit.

Then run:

`Get-AzureADMSAdministrativeUnitMember -Id $AdministrativeUnitID` to get the members of the unit.

You can then use `Remove-AzureADMSAdminis

[2022-09-26 14:23] #861 closed

[2022-10-04 11:10] msewaweru commented on #694
Hi @myra-ramdenbourg, reassigning this issue to you.

[2022-10-11 18:13] dougsbaker opened #864 "Get-AzureADMSConditionalAccessPolicy wont export Policy if it contains new MFA Strength Option"
https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0-preview/AzureAD/Get-AzureADMSConditionalAccessPolicy.md

If your Policy includes the Preview for Authentication strength it will not export when using this command.

![image](https://user-images.githubusercontent.com/11762441/195167902-258a849b-3cc4-488b-9d88-358d0f2be992.png)

[2022-10-12 16:44] MSIH opened #865 "Get-AzureADApplicationPasswordCredential does not show password"
https://learn.microsoft.com/en-us/powershell/module/azuread/get-azureadapplicationpasswordcredential?view=azureadps-2.0

Do you need specific permissions to see the value of the password?

$getApplication = Get-AzureADApplication -Filter "DisplayName eq '$fullAppName'"
 $getApplication | Get-AzureADApplicationPasswordCredential

CustomKeyIdentifier :
EndDate             : 10/12/2023 4:33:35 PM
Key

[2022-10-19 22:42] Justice-Alliance commented on #167
i wanted to add massive owners for a Azure AD application but this is my error output :
+             Add-AzureADApplicationOwner -ObjectId $app.ObjectId -RefO ...
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Add-AzureADApplicationOwner], ApiException
    + FullyQualifiedErrorId : Microsoft.Open.AzureAD16.Client.ApiExcepti

[2022-10-20 05:51] jdelforno commented on #622
@benoithamet we ran into the same problem. I'd say the issue is less with the PowerShell Module and more with the Azure API it interfaces with tbh.

[2022-10-20 20:53] benoithamet commented on #622
Hi @jdelforno
I dont think this is the API because you can get the information in Azure portal, which basically uses the same endpoint than PS to display the information
by the way thanks for your comment as I totally forgot about this and there has been no action from MS 😒

[2022-10-20 21:10] meklulose opened #868 "Get-AzureADAuditSignInLogs not bring back Last sign-in"
Is there a limitation to last sign-in date?  I am trying to get Last sign-in time, but some accounts are coming back blank. For example: in azure AD I can see the last sign-in date is: Last sign-in: Jun 24, 2022, 9:28 AM but when I run the following script, I do not get anything back
` Get-AzureADAuditSignInLogs -Filter "UserId eq '2491d7fb-50f9-4517-a66d-11884b368db4'" -Top 1 |
 Select CreatedDat

[2022-10-26 10:04] msewaweru commented on #868
@besiler, could you provide some infor on this issue.

[2022-10-26 10:11] msewaweru commented on #865
@madansr7, assigning this to you to advise further.

[2022-10-26 10:13] msewaweru commented on #864
Thanks @dougsbaker for raising the issue. Due to the planned deprecation of PowerShell modules (MSOL & Azure AD) after December 2022, no further updates are planned for these modules to support new Conditional Access features. See recent announcements for more information: [Change management](https://aka.ms/AzureADPowerShellDeprecation). As a result of this, newer Conditional Access features may n

[2022-10-26 10:13] #864 closed

[2022-10-26 16:57] dougsbaker commented on #864
Hi I tried using the graph commands and currently, they are not available in that module as well.

[2022-10-27 06:54] VirgoCluster commented on #628
Bump #3 - I need this to find unused serviceaccounts...

[2022-10-27 12:31] msewaweru commented on #837
@DerrickJKimani, is this something you can advise on or direct me to the right person?

[2022-10-27 12:32] msewaweru commented on #612
@DerrickJKimani, could you direct me to the owner of this cmdlet?

[2022-10-27 12:34] msewaweru commented on #721
@DerrickJKimani, please direct me to the owner of this cmdlet.

[2022-10-27 12:49] msewaweru commented on #828
Hi @DevanshuSyk, apologies for the delayed response.

@psignoret, please confirm is this cmdlet falls in your area and advise.

[2022-11-03 10:24] #868 closed

[2022-11-16 18:50] chrisclosacr commented on #626
Anything?  This still doesnt appear to exist.

[2022-11-23 15:33] mikeblakeuk commented on #245
It should throw if the ObjectId passed in is null/empty
For me, I needed "Power BI Administrator" not "Power BI Service Administrator"